<table cellspacing="1">
  <tr>
    <th><%= t(:mac_address) %></th>
    <th><%= t(:phone_model) %></th>
    <th><%= t(:ip_address) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% phones.each do |phone| %>
  <tr>
    <td class="vam"><%= link_to phone.mac_address_to_display, phone %></td>
    <td class="vam">
      <%
        img = case phone.try(:phone_model).try(:manufacturer).try(:ieee_name)
          when 'SNOM Technology AG'
            case (phone.try(:phone_model).try(:name) || '').downcase.gsub( / +/, '' )
              when 'snom300'; 'snom/s-300.png'
              when 'snom320'; 'snom/s-320.png'
              when 'snom360'; 'snom/s-360.png'
              when 'snom370'; 'snom/s-370.png'
              when 'snom820'; 'snom/s-820.png'
              when 'snom821'; 'snom/s-821.png'
              when 'snom870'; 'snom/s-870.png'
              else nil
            end
          else nil
        end
        if img
          %><img src="<%= root_path %>images/phones/<%= img %>" alt=" " align="middle" style="vertical-align:middle; border:2px solid #777; border-radius:12px; margin:0 0.5em 0 0; box-shadow: 1px 2px 4px #999;" /><%
        end
      %>
      <span style="white-space: nowrap;"><%= phone.phone_model.name %></span>
      <!--
      <br />
      <small>(<%= truncate( phone.phone_model.manufacturer.name, :length => 20 ) %>)</small>
      -->
    </td>
    <td class="vam"><%= phone.ip_address.blank? ? '-' : phone.ip_address  %></td>
    
    <% t = Time.now - 45.minutes %>
    <td class="vam <%= phone.created_at > t ? 'status_no' : '' %>">
    <% if phone.created_at > t %>
      <% if phone.rebootable? %>
        <%= link_to t(:reboot), phone_reboot_path(phone), :confirm => t(:do_really_reboot, :name => phone.phone_model.name) %>
      <% else %>
        <span style="font-size:4em; vertical-align:0%; float:left; display:block; margin:0 10px 10px 0;"><%= "\u{26A0}" %></span>
        <%= t(:phone_created_reboot_needed, :time_ago => time_ago_in_words(phone.created_at)) %>
        <% if ! phone.phone_model.manual_url.blank? %>
          <%= link_to t(:phone_manual, :phone_model => phone.phone_model.name), phone.phone_model.manual_url %>.
        <% end %>
        
        <% if ! NetworkSetting.first.try(:start_dhcp_server) %>
          <p>
            <%= t(:phone_set_config_url) %><br />
            <tt><%= "https://#{ @controller.guess_local_host }#{root_path}settings-{mac}" %></tt><%#OPTIMIZE Generalize setting URL. %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <% if phone.rebootable? %>
      <%= link_to t(:reboot), phone_reboot_path(phone), :confirm => t(:do_really_reboot, :name => phone.phone_model.name) %>
      <% else %>
      <%= t(:phone_not_yet_provisioned) %>
      <% end %>
    <% end %>
    </td>
    
    <td class="vam"><%= link_to t(:edit), edit_phone_path(phone) %></td>
    <td class="vam"><%= link_to t(:destroy), confirm_destroy_phone_path(phone) if can?( :destroy, phone ) %></td>
  </tr>
<% end %>
</table>
