<table>
  <tr>
    <th><%= t(:mac_address) %></th>
    <th><%= t(:manufacturer) %></th>
    <th><%= t(:phone_model) %></th>
    <th><%= t(:ip_address) %></th>
    <th><%= t(:sip_accounts) %></th>
    <th><%= t(:reboot) %></th>
    <th></th>
    <th></th>
  </tr>

<% phones.each do |phone| %>
  <tr>
    <td><%= link_to phone.mac_address, phone %></td>
    <td><%= truncate(phone.phone_model.manufacturer.name, :length => 20) %></td>
    <td><%= phone.phone_model.name %></td>
    <td><%= phone.ip_address %></td>
    <td>
      <ul>
        <li><%= link_to t(:new_sip_account), new_phone_sip_account_path(phone) %></li>
<% phone.sip_accounts.each { |sip_account| %>
        <li><%= link_to sip_account.to_display, phone_sip_account_path(phone, sip_account) %></li>
<% } %>
      </ul>
    </td>
    <td>
	<% if phone.rebootable? %>
    <%= link_to t(:reboot), phone_reboot_path(phone), :confirm => t(:do_really_reboot, :name => phone.phone_model.name) %>
    <% else %>
    <small>(<%= t(:ip_unknown_or_path_nil) %>)</small>
    <% end %>
    </td>
    <td><%= link_to t(:edit), edit_phone_path(phone) %></td>
    <td><%= link_to t(:destroy), confirm_destroy_phone_path(phone) if can?( :destroy, phone ) %></td>
  </tr>
<% end %>
</table>
