<table>
  <tr>
    <th><%= t(:mac_address) %></th>
    <th><%= t(:phone_model) %></th>
    <th><%= t(:ip_address) %></th>
    <th><%= t(:reboot_phone) %></th>
    <th></th>
    <th></th>
  </tr>

<% phones.each do |phone| %>
  <tr>
    <td><%= link_to phone.mac_address, phone %></td>
    <td>
      <%= phone.phone_model.name %>
      <br />
      <small><%= t(:manufacturer) %>: <br /><%= truncate(phone.phone_model.manufacturer.name, :length => 20) %></small>
    </td>
    <td><%= phone.ip_address.blank? ? '-' : phone.ip_address  %></td>
    
    <td class="<%= phone.created_at > Time.now - 60.minutes ? 'status_no' : '' %>">
    <% if phone.created_at > Time.now - 60.minutes %>
      <% if phone.rebootable? %>
      <%= link_to t(:reboot), phone_reboot_path(phone), :confirm => t(:do_really_reboot, :name => phone.phone_model.name) %>
      <% else %>
      <%= t(:phone_created_reboot_needed, :time_ago => time_ago_in_words(phone.created_at)) %>
      <% end %>
    <% else %>
      <% if phone.rebootable? %>
      <%= link_to t(:reboot), phone_reboot_path(phone), :confirm => t(:do_really_reboot, :name => phone.phone_model.name) %>
      <% else %>
      <%= t(:phone_not_yet_provisioned) %>
      <% end %>
    <% end %>
    </td>
    
    <td><%= link_to t(:edit), edit_phone_path(phone) %></td>
    <td><%= link_to t(:destroy), confirm_destroy_phone_path(phone) if can?( :destroy, phone ) %></td>
  </tr>
<% end %>
</table>
