<%= simple_form_for( @phone, :html => { :method => :delete } ) do |f| %>
	<%= f.error_messages %>
	<h2><%= t(:confirm_destroy_record, :model_name => t("activerecord.models.phone"))%></h2>
	<%= render 'show' %>
	<%= f.button :submit, t(:delete) if can?( :destroy, @phone ) %>
	<%= link_to t(:cancel), phones_path if can?( :index, Phone ) %>
<% end %>