
<div class="simple_form_show">

<% i18n_path = 'activerecord.attributes.dialplan_pattern.' %>

<p>
	<b><%= t( i18n_path + 'pattern' ) %>:</b>
	<big><tt><%= @dialplan_pattern.pattern %></tt></big>
</p>

<p>
	<b><%= t( i18n_path + 'name' ) %>:</b>
	<%= @dialplan_pattern.name %>
</p>

<p>
	<b>&nbsp;</b>
	<span style="font-weight:normal;"><%= @dialplan_pattern.t_used_by_routes_count(:l) %></span>
</p>

</div>
