<% page_title t('dp_pattern.view.edit') %>
<h1><%= t('dp_route.view.edit') %></h1>

<%= render 'form' %>

<%= link_to t(:show), @dialplan_pattern %> |
<%= link_to t(:Go_to_list), dialplan_patterns_path %>


<%= render 'help' %>
