<% page_title t('dp_pattern.view.index') %>
<h1><%= t('dp_pattern.view.index') %></h1>

<p style="padding:0;margin:1em 0;font-size:0.95em;"><%= t('dp_pattern.explanations.p0') %></p>
<br />

<table align="center">
	<tr>
		<% i18n_path = 'activerecord.attributes.dialplan_pattern.' %>
		<th>
			<% if @sort_by == :pattern %>
				<%= t( i18n_path + 'pattern' ) %>&nbsp;&nbsp;&darr;
			<% else %>
				<%= link_to(
					t( i18n_path + 'pattern' ),
					{ :sort => 'pattern' },
					{ :title => t(:sort_by_attr, :attr => t( i18n_path + 'pattern' )) }
				) %>
			<% end %>
		</th>
		<th>
			<% if @sort_by == :name %>
				<%= t( i18n_path + 'name' ) %>&nbsp;&nbsp;&darr;
			<% else %>
				<%= link_to(
					t( i18n_path + 'name' ),
					{ :sort => 'name' },
					{ :title => t(:sort_by_attr, :attr => t( i18n_path + 'name' )) }
				) %>
			<% end %>
		</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% if @dp_patterns.length == 0 %>
	<tr>
		<td colspan="6" style="text-align:center;">-- <i><%= t(:none) %> --</i></td>
	</tr>
<% end %>

<% @dp_patterns.each do |pat| %>
	<tr>
		<td><big><tt><%= pat.pattern %></tt></big></td>
		<td><%= pat.name %></td>
		<td><%= pat.t_used_by_routes_count(:s) %></td>
		<td><%= link_to t(:show)    ,                                        pat   if can?(:show    , pat) %></td>
		<td><%= link_to t(:edit)    ,            edit_dialplan_pattern_path( pat ) if can?(:edit    , pat) %></td>
		<td><%= link_to t(:destroy) , confirm_destroy_dialplan_pattern_path( pat ) if can?(:destroy , pat) %></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to t('dp_pattern.view.new'), new_dialplan_pattern_path if can?(:new, DialplanPattern) %>
