
<div class="simple_form_show">

<p>
  <b><%= t(:name) %>:</b>
  <%= @call_queue.name %>
</p>

<p>
  <b><%= t(:uuid) %>:</b>
  <%= @call_queue.uuid %>
</p>

<p>
  <b><%= t(:extensions) %>:</b>
  <% @call_queue.extensions.each do |extension| %>
    <%= link_to "#{extension.extension}", call_queue_extension_path( @call_queue, extension ) %>,
  <% end %>
  <%= link_to t(:new_extension), new_call_queue_extension_path( @call_queue, {:destination => @call_queue.uuid}) %>
</p>

</div>
