<h1>Listing call_queues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Uuid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_queues.each do |call_queue| %>
  <tr>
    <td><%= call_queue.name %></td>
    <td><%= call_queue.uuid %></td>
    <td><%= link_to 'Show', call_queue %></td>
    <td><%= link_to 'Edit', edit_call_queue_path(call_queue) %></td>
    <td><%= link_to 'Destroy', call_queue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call queue', new_call_queue_path %>
