<h1><%= t(:listing_call_queues) %></h1>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:extensions) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_queues.each do |call_queue| %>
  <tr>
    <td><%= call_queue.name %></td>
    <td>
    <% if !call_queue.extensions.nil? %>
      <ul>
      <% call_queue.extensions.each do |extension| %>
        <li><%= link_to extension.extension, call_queue_extension_path(call_queue, extension) %></li>
      <% end %>
      </ul>
    <% end %>
    </td>
    <td><%= link_to t(:show), call_queue %></td>
    <td><%= link_to t(:edit), edit_call_queue_path(call_queue) %></td>
    <td><%= link_to t(:destroy), confirm_destroy_call_queue_path(call_queue) if can?( :destroy, call_queue ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_call_queue), new_call_queue_path %>
