<h1><%= t(:call_queue) %></h1>

<p>
  <b><%= t(:name) %>:</b>
  <%= @call_queue.name %>
</p>

<p>
  <b><%= t(:uuid) %>:</b>
  <%= @call_queue.uuid %>
</p>
<b><%= t(:extensions) %>:</b>
  <% if @call_queue.extensions.count == 0 %>
    <div class="noticebox">
      <%= t(:call_queue_need_to_create_extension) %>
  </div>
  <% end %>
  <ul>
  <% @call_queue.extensions.each do |extension| %>
    <li><%= extension.extension %></li>  
  <% end %>
    <li><%= link_to t(:new_extension), new_call_queue_extension_path(@call_queue, {:destination => @call_queue.uuid}) %>
  </ul>
</p>

<%= link_to t(:edit), edit_call_queue_path(@call_queue) %> |
<%= link_to t(:Go_to_list), call_queues_path %>
