<h1><%= t(:network_setting) %></h1>

<table>
  <tr>
    <th><%= t(:ip_address) %></th>
    <th><%= t(:netmask) %></th>
    <th><%= t(:gateway) %></th>
    <th><%= t(:name_server) %></th>
    <th><%= t(:dhcp_range_start) %></th>
    <th><%= t(:dhcp_range_end) %></th>
    <th><%= t(:start_dhcp_server) %></th>
    <th><%= t(:dhcp_client) %></th>
    <th></th>
    <th></th>
  </tr>

<% @network_settings.each do |network_setting2| %>
  <tr>
    <td><%= network_setting2.ip_address %></td>
    <td><%= network_setting2.netmask %></td>
    <td><%= network_setting2.gateway %></td>
    <td><%= network_setting2.name_server %></td>
    <td><%= network_setting2.dhcp_range_start %></td>
    <td><%= network_setting2.dhcp_range_end %></td>
    <td><%= network_setting2.start_dhcp_server %></td>
    <td><%= network_setting2.dhcp_client %></td>
    <td><%= link_to t(:show) ,                            network_setting2 %></td>
    <td><%= link_to t(:edit) , edit_network_setting_path( network_setting2 ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Network setting', new_network_setting_path %>
