<h1><%= t(:network_setting) %></h1>

<table>
  <tr>
    <th><%= t(:ip_address) %></th>
    <th><%= t(:netmask) %></th>
    <th><%= t(:gateway) %></th>
    <th><%= t(:name_server) %></th>
    <th><%= t(:dhcp_range_start) %></th>
    <th><%= t(:dhcp_range_end) %></th>
    <th><%= t(:start_dhcp_server) %></th>
    <th><%= t(:dhcp_client) %></th>
    <th></th>
    <th></th>
  </tr>

<% @network_settings.each do |network_setting| %>
  <tr>
    <td><%= network_setting.ip_address %></td>
    <td><%= network_setting.netmask %></td>
    <td><%= network_setting.gateway %></td>
    <td><%= network_setting.name_server %></td>
    <td><%= network_setting.dhcp_range_start %></td>
    <td><%= network_setting.dhcp_range_end %></td>
    <td><%= network_setting.start_dhcp_server %></td>
    <td><%= network_setting.dhcp_client %></td>
    <td><%= link_to t(:show), network_setting %></td>
    <td><%= link_to t(:edit), edit_network_setting_path(network_setting) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Network setting', new_network_setting_path %>
