
<div class="simple_form_show">

<p>
  <b><%= t(:dhcp_client) %>:</b>
  <%= @network_setting.dhcp_client ? t(:yes_lowercase) : t(:no_lowercase) %>
</p>

<hr />

<p>
  <b><%= t(:ip_address) %>:</b>
  <%= @network_setting.ip_address %>
</p>

<p>
  <b><%= t(:netmask) %>:</b>
  <%= @network_setting.netmask %>
</p>

<p>
  <b><%= t(:gateway) %>:</b>
  <%= @network_setting.gateway %>
</p>

<p>
  <b><%= t(:name_server) %>:</b>
  <%= @network_setting.name_server %>
</p>

<hr />

<p>
  <b><%= t(:start_dhcp_server) %>:</b>
  <%= @network_setting.start_dhcp_server ? t(:yes_lowercase) : t(:no_lowercase) %>
</p>

<p>
  <b><%= t(:dhcp_range_start) %>:</b>
  <%= @network_setting.dhcp_range_start %>
</p>

<p>
  <b><%= t(:dhcp_range_end) %>:</b>
  <%= @network_setting.dhcp_range_end %>
</p>

</div>

<%= link_to t(:edit), edit_network_setting_path(@network_setting) %>
