
<p>
  <b><%= t(:ip_address) %>:</b>
  <%= @network_setting.ip_address %>
</p>

<p>
  <b><%= t(:netmask) %>:</b>
  <%= @network_setting.netmask %>
</p>

<p>
  <b><%= t(:gateway) %>:</b>
  <%= @network_setting.gateway %>
</p>

<p>
  <b><%= t(:name_server) %>:</b>
  <%= @network_setting.name_server %>
</p>

<p>
  <b><%= t(:dhcp_range_start) %>:</b>
  <%= @network_setting.dhcp_range_start %>
</p>

<p>
  <b><%= t(:dhcp_range_end) %>:</b>
  <%= @network_setting.dhcp_range_end %>
</p>

<p>
  <b><%= t(:start_dhcp_server) %>:</b>
  <%= @network_setting.start_dhcp_server %>
</p>

<p>
  <b><%= t(:start_dhcp_server) %>:</b>
  <%= @network_setting.dhcp_client %>
</p>


<%= link_to t(:edit), edit_network_setting_path(@network_setting) %> |
<%= link_to t(:Go_to_list), network_settings_path %>
