<% page_title t(:listing_cdrs) %>
<h1><%= t(:listing_cdrs) %></h1>
<%= paginate @cdrs %>

<table>
  <tr>
    <th><%= t(:caller_id_name) %></th>
    <th><%= t(:caller_id_number) %></th>
    <th><%= t(:destination_number) %></th>
    <th><%= t(:start_stamp) %></th>
    <th><%= t(:call_duration) %></th>
    <th><%= t(:hangup_cause) %></th>
 </tr>

  <% @cdrs.each do |cdr| %>
  <tr>
    <td><%= cdr.caller_id_name %></td>
    <td><%= cdr.caller_id_number %></td>
    <td><%= cdr.destination_number %></td>
    <td><%= cdr.start_stamp %></td>
    <td><%= cdr.duration %></td>
    <td><%= cdr.hangup_cause %></td>
  </tr>
  <% end %>
</table>