<h1><%= t(:listing_nodes) %></h1>

<table>
	<tr>
		<th><%= t(:management_host) %></th>
		<th><%= t(:management_port) %></th>
		<th><%= t(:title) %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @nodes.each { |node| %>
	<tr>
		<td><%= node.management_host %></td>
		<td><%= node.management_port %></td>
		<td><%= node.title %></td>
		<td><%= link_to t(:show), node %></td>
		<td><%#= link_to t(:edit), edit_node_path(node) %></td>
		<td><%#= button_to t(:destroy), node, :confirm => t(:are_you_sure), :method => :delete %></td>
	</tr>
<% } %>
</table>

<br />

<%#= link_to t(:new_node), new_node_path %>

