
<p>
	<b><%= t(:management_host) %>:</b>
	<%= @node.management_host %>
</p>

<p>
	<b><%= t(:management_port) %>:</b>
	<%= @node.management_port %>
</p>

<p>
	<b><%= t(:title) %>:</b>
	<%= @node.title %>
</p>


<%#= link_to t(:edit), edit_node_path(@node) %> |
<%= link_to t(:Go_to_list), nodes_path %>
