<%= form_for(@sip_server) do |f| %>
<% if @sip_server.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sip_server.errors.count, "error") %>prohibited this sip_server from being saved:</h2>
  <ul>
    <% @sip_server.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :name, "Host" %><br />
  <%= f.text_field :host %>
</div>
<div class="field">
  <%= f.label :name, "Port" %><br />
  <%= f.text_field :port %>
</div>
<div class="field">
  <%= f.label :name, "On this host" %><br />
  <%= f.check_box :is_local %>
</div>
<div class="field">
  <%= f.label :last_sip_server_id, "Take over accounts" %><br />
  <%= f.select( :last_sip_server_id,
    @sip_servers.collect {|r| [ "#{r.host} (ID #{r.id})", r.id ] },
    { :include_blank => true }
  ) %>
  </div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
