<h1>Listing sip_servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_servers.each do |sip_server| %>
  <tr>
    <td><%= sip_server.name %></td>
    <td><%= link_to 'Show', sip_server %></td>
    <td><%= link_to 'Edit', edit_sip_server_path(sip_server) %></td>
    <td><%= link_to 'Destroy', sip_server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sip server', new_sip_server_path %>
