<h1>Listing SIP servers</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Managed by Gemeinschaft?</th>
    <th>Config. port</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @sip_servers.each do |sip_server| %>
  <tr>
    <td><%= sip_server.name %></td>
    <td><%= sip_server.managed_by_gs ? "yes":"no" %></td>
	<td><%= sip_server.config_port %><td>
    <td><%= link_to 'Show', sip_server %></td>
    <td><%= link_to 'Edit', edit_sip_server_path(sip_server) %></td>
    <td><%= button_to 'Destroy', sip_server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New SIP server', new_sip_server_path %>
