
<p>
  <b>Host:</b>
  <%= @sip_server.name %>
</p>
<p>
  <b>Is managed by Gemeinschaft?:</b>
  <%= @sip_server.managed_by_gs ? "yes":"no" %>
</p>
<p>
  <b>Configuration port:</b>
  <%= (! @sip_server.config_port.blank?) ? @sip_server.config_port : "none" %>
</p>


<%= link_to 'Edit', edit_sip_server_path(@sip_server) %> |
<%= link_to 'Back', sip_servers_path %>
