
<p>
  <b>Host:</b>
  <%= @sip_server.host %>
</p>
<p>
  <b>Port:</b>
  <%= @sip_server.port %>
</p>
<p>
<p>
  <b>Management host:</b>
  <%= @sip_server.management_host %>
</p>
<p>
  <b>Management port:</b>
  <%= @sip_server.management_port %>
</p>


<%= link_to 'Edit', edit_sip_server_path(@sip_server) %> |
<%= link_to 'Back', sip_servers_path %>
