
<p>
  <b>Host:</b>
  <%= @sip_server.host %>
</p>
<p>
  <b>Port:</b>
  <%= (! @sip_server.port.blank?) ? @sip_server.port : "none" %>
</p>
<p>
<p>
  <b>Management host:</b>
  <%= @sip_server.management_host %>
</p>
<p>
  <b>Management port:</b>
  <%= (! @sip_server.management_port.blank?) ? @sip_server.management_port : "none" %>
</p>


<%= link_to 'Back', sip_servers_path %>
