<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @sip_server.name %>
  <%= @sip_server.config_port%>
</p>


<%= link_to 'Edit', edit_sip_server_path(@sip_server) %> |
<%= link_to 'Back', sip_servers_path %>
