<% if ! @phones.empty? %>
<h1><%= t(:manufacturer) %>: <%= @phones.first.phone_model.manufacturer.name %> </h1>
<table> 
<th><%= t(:phone_id) %></th>
<th><%= t(:phone_model) %></th>
<th><%= t(:mac_address) %></th>
<% @phones.each do |p|%>
	<tr class="<%= cycle("even", "odd") %>"	> 
	<td><%= p.id %></td>
	<td><%= p.phone_model.name %></td>
	<td><%= link_to "#{p.mac_address}", "/settings-#{p.mac_address}" %></td>
<% end %>
</tr>
</table>
<% else %>
<h1><%= t(:no_phone_found_for_manufacturer) %></h1>
<% end %>
