<%= form_for(@sip_proxy) do |f| %>
<% if @sip_proxy.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@sip_proxy.errors.count, "error") %>prohibited this sip_proxy from being saved:</h2>
    <ul>
        <% @sip_proxy.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <%= f.label :host, "Host" %>
    <br/>
    <%= f.text_field :host %>
</div>
<div class="field">
    <%= f.label :host_port, "Port" %>
    <br/>
    <%= f.text_field :host_port %>
</div>
<div class="field">
    <%= f.label :management_host, "Management host" %>
    <br/>
    <%= f.text_field :management_host %>
</div>
<div class="field">
    <%= f.label :management_host_port, "Management host port" %>
    <br/>
    <%= f.text_field :management_host_port %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
