<%= form_for(@sip_proxy) do |f| %>
<% if @sip_proxy.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@sip_proxy.errors.count, "error") %>prohibited this sip_proxy from being saved:</h2>
  <ul>
    <% @sip_proxy.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :host, "SIP host" %><br />
  <%= f.text_field :host %>
</div>
<div class="field">
  <%= f.label :port, "SIP port" %><br />
  <%= f.text_field :port %>
</div>
<div class="field">
  <%= f.check_box :is_local %>
  <%= f.label :is_local, "Is on this node" %>
</div>
<div class="field">
  <%= f.label :last_sip_proxy_id, "Take over accounts" %><br />
  <%= f.select( :last_sip_proxy_id,
    @sip_proxies.collect {|r| [ "#{r.host} (ID #{r.id})", r.id ] },
    { :include_blank => true }
  ) %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
