<%= simple_form_for( @sip_proxy, :html => { :method => :delete } ) do |f| %>
	<%= f.error_messages %>
	<h2><%= t(:confirm_destroy_record, :model_name => t("activerecord.models.sip_proxy"))%></h2>
	<%= render 'show' %>
	<%= f.button :submit, t(:delete) if can?( :destroy, @sip_proxy ) %>
	<%= link_to t(:cancel), sip_proxies_path if can?( :index, SipProxy ) %>
<% end %>