<h1><%= t(:listing_sip_proxies)%></h1>

<table>
  <tr>
    <th><%= t(:sip_host)%></th>
    <th><%= t(:sip_port)%></th>
    <th><%= t(:is_local)%></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_proxies.each do |sip_proxy| %>
  <tr>
    <td><%= sip_proxy.host %></td>
    <td><%= sip_proxy.port %></td>
    <td><%= sip_proxy.is_local ? t(:yes_lowercase) : t(:no_lowercase) %></td>
    <td><%= link_to t(:show), sip_proxy %></td>
    <td><%= button_to t(:destroy), sip_proxy, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_sip_proxy), new_sip_proxy_path %>
