<h1>Listing SIP proxies</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Port</th>
    <th>Management host</th>
    <th>Management host port</th>
    <th></th>
	<th></th>
	<th></th>
  </tr>

<% @sip_proxies.each do |sip_proxy| %>
  <tr>
    <td><%= sip_proxy.host %></td>
    <td><%= sip_proxy.host_port%></td>
	<td><%= sip_proxy.management_host %></td>
	<td><%= sip_proxy.management_host_port%></td>
    <td><%= link_to 'Show', sip_proxy %></td>
    <td><%= link_to 'Edit', edit_sip_proxy_path(sip_proxy) %></td>
    <td><%= button_to 'Destroy', sip_proxy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New SIP proxy', new_sip_proxy_path %>
