<h1>SIP proxies</h1>

<table>
  <tr>
    <th>SIP host</th>
    <th>SIP port</th>
    <th>Is on this node?</th>
    <th></th>
    <th></th>
  </tr>

<% @sip_proxies.each do |sip_proxy| %>
  <tr>
    <td><%= sip_proxy.host %></td>
    <td><%= sip_proxy.port %></td>
    <td><%= sip_proxy.is_local ? "yes" : "no" %></td>
    <td><%= link_to 'Show', sip_proxy %></td>
    <td><%= button_to 'Destroy', sip_proxy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New SIP proxy', new_sip_proxy_path %>
