
<p>
  <b><%= t(:sip_host)%>:</b>
  <%= @sip_proxy.host %>
</p>

<p>
  <b><%= t(:sip_port)%>:</b>
  <%= @sip_proxy.port %>
</p>

<p>
  <b><%= t(:is_local)%>:</b>
  <%= @sip_proxy.is_local ? t(:yes_lowercase) : t(:no_lowercase) %>
</p>


<%= link_to t(:back), sip_proxies_path %>
