<p id="notice"><%= notice %></p>

<p>
  <b>Host:</b>
  <%= @sip_proxy.name %>
  <%= @sip_proxy.config_port%>
</p>


<%= link_to 'Edit', edit_sip_proxy_path(@sip_proxy) %> |
<%= link_to 'Back', sip_proxies_path %>
