
<p>
  <b>Host:</b>
  <%= @sip_proxy.name %>
</p>
<p>
  <b>Is managed by Gemeinschaft?:</b>
  <%= @sip_proxy.managed_by_gs ? "yes":"no" %>
</p>
<p>
  <b>Configuration port:</b>
  <%= (! @sip_proxy.config_port.blank?) ? @sip_proxy.config_port : "none" %>
</p>


<%= link_to 'Edit', edit_sip_proxy_path(@sip_proxy) %> |
<%= link_to 'Back', sip_proxies_path %>
