<h1><%= t(:listing_configurations) %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.configuration.name') %></th>
    <th><%= t('activerecord.attributes.configuration.value') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @configurations.each do |configuration| %>
  <tr>
    <td><%= configuration.name %></td>
    <td><%= configuration.value %></td>
    <td><%= link_to t(:show), configuration %></td>
    <td><%= link_to t(:edit), edit_configuration_path(configuration) %></td>
    <td><%= button_to t(:destroy), configuration, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_configuration), new_configuration_path %>
