
<div class="simple_form_show">

<p>
  <b><%= t('activerecord.attributes.configuration.name') %>:</b>
  <%= @configuration.name %>
</p>

<p>
  <b><%= t('activerecord.attributes.configuration.value') %>:</b>
  <%= @configuration.value %>
</p>

</div>

<%= link_to t(:edit), edit_configuration_path(@configuration) %> |
<%= link_to t(:Go_to_list), configurations_path %>
