<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @configuration.name %>
</p>

<p>
  <b>Value:</b>
  <%= @configuration.value %>
</p>


<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
