<h1>Welcome to Gemeinschaft 4.0</h1>
<div class="help_overview" style="font-size: 1em;">
	
	<p>
		You installed Gemeinschaft
		<%= time_ago_in_words( User.first.created_at ) %> ago.
		Quick start tips:
	</p>
	<p>
		Use
		“<%= link_to( "#{t(:wizard_phone_new)}",
			url_for( :controller => '/admin/wizard_phone_and_user', :action => 'new' )
		) %>”
		or
		“<%= link_to( "#{t(:wizard_phone_and_user_new)}",
			url_for( :controller => '/admin/wizard_phone_and_user', :action => 'new', :with_user => true )
		) %>”
		to set-up new phones.
	</p>
	
	<% phone_models = (PhoneModel.order(:name) || []).to_a %>
	<p>
		We support the following phone models: <%
		j = { phone_models.first => "", phone_models.last => " and " };
		phone_models.each{ |m| %><%= j[m] || ", " %>
		<%= link_to( m.name, m ) %><% } %>.
	</p>
	
	<p>
		Please use the <strong>latest stable firmware</strong> on
		the phones.
	</p>
	<p>
		Please follow the Twitter account
		<%= link_to '@GemeinschaftPBX', 'http://twitter.com/GemeinschaftPBX' %>
		for updates.
	</p>
	<p>
		<strong>Next step:</strong>
		<%= link_to( "#{t(:wizard_phone_new)}",
			url_for(:controller => '/admin/wizard_phone_and_user', :action => 'new')
		) %>
	</p>
    
    <h2>Support</h2>
    <p>
    	Gemeinschaft is an
    	<%= link_to "AMOOMA GmbH", 'http://www.amooma.de' %>
    	product. We provide commerical support and consulting for
    	Gemeinschaft. In addition you'll find free support at the
    	following mailing-list:<br />
    	<%= link_to(
    		'http://groups.google.com/group/gemeinschaft-users',
    		'http://groups.google.com/group/gemeinschaft-users'
    	) %>
    </p>
	
</div>