<h1>Willkommen bei Gemeinschaft 4.0</h1>
<div class="help_overview" style="font-size: 1em;">
	
	<p>
		Sie haben vor
		<%= time_ago_in_words( User.first.created_at ).gsub(/eine /,'einer ').gsub(/ein /,'einem ').gsub(/Tage/,'Tagen') %>
		die VoIP-Telefonanlage Gemeinschaft 4.0 erfolgreich
		installiert. Hier ein paar Tipps zum schnellen Einstieg:
	</p>
	<p>
		Ein neues Telefon muss dem System per MAC-Adresse
		bekanntgegeben werden. Für die einfacherere
		Administration stellen wir Ihnen dafür die zwei
		Assistenten
		„<%= link_to( "#{t(:wizard_phone_new)}",
			url_for( :controller => '/admin/wizard_phone_and_user', :action => 'new' )
		) %>“
		und
		„<%= link_to( "#{t(:wizard_phone_and_user_new)}",
			url_for( :controller => '/admin/wizard_phone_and_user', :action => 'new', :with_user => true )
		) %>“
		zur Verfügung.
	</p>
	
	<% phone_models = (PhoneModel.order(:name) || []).to_a %>
	<p>
		Aktuell werden folgende Telefone unterstützt: <%
		j = { phone_models.first => "", phone_models.last => " und " };
		phone_models.each{ |m| %><%= j[m] || ", " %>
		<%= link_to( m.name, m ) %><% } %>.
	</p>
	
	<p>
		Bitte achten Sie darauf, auf den Telefonen die
		<strong>aktuell stabile Firmware</strong> zu
		installieren.
		Bei den
		<%= link_to "Telefon-Modellen", phone_models_path %>
		finden Sie einen Link zur jeweiligen Online-Doku.
	</p>
	<p>
		Bitte verfolgen Sie den Twitter-Account
		<%= link_to '@GemeinschaftPBX', 'http://twitter.com/GemeinschaftPBX' %>
		für Updates und Informationen zu Gemeinschaft.
	</p>
	<p>
		<strong>Nächster Schritt:</strong>
		<%= link_to( "#{t(:wizard_phone_new)}",
			url_for(:controller => '/admin/wizard_phone_and_user', :action => 'new')
		) %>
	</p>
	
	<h2>Support</h2>
	<p>
		Gemeinschaft ist ein Produkt der
		<%= link_to "AMOOMA GmbH", 'http://www.amooma.de' %>,
		die auch kommerziellen Support und Consulting dazu anbietet.
		Zusätzlich gibt es eine kostenlose Mailingliste unter<br />
		<%= link_to(
			'http://groups.google.com/group/gemeinschaft-users',
			'http://groups.google.com/group/gemeinschaft-users'
		) %>
	</p>
	
</div>