<%= render 'admin/welcome' if Phone.count == 0 && User.count < 2 %>

<div class="index_overview">
	
	<section>
		<h2><%= t(:wizards) %></h2>
		<ul>
			<li><%= link_to( "#{t(:wizard_phone_new)}",
				url_for(:controller => '/admin/wizard_phone_and_user', :action => 'new')
			) %></li>
			<li><%= link_to( "#{t(:wizard_phone_and_user_new)}",
				url_for(:controller => '/admin/wizard_phone_and_user', :action => 'new', :with_user => true)
			) %></li>
		</ul>
	</section>
		
</div>


<hr />
<% if @phones && ! @phones.empty? %>
	<h2><%= t(:listing_phones_last_modified) %></h2>
	
	<%= render :partial => 'phones/table_of_phones', :locals => {:phones => @phones} %>
	
	<p>
	<%= link_to( t(:list_all_phones), url_for(:controller => '/phones', :action => 'index')) if @number_of_phones > @phones.length %>
	</p>
<% end %>
