<h1>Administration overview</h1>

<div class="index_overview">
	
	<section>
		<h2>Users</h2>
		<ul>
			<li><%= link_to( "List all users (#{@number_of_users})",
				url_for(:controller => '/admin/users', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new user",
				url_for(:controller => '/admin/users', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2>SIP accounts</h2>
		<ul>
			<li><%= link_to( "List all SIP accounts (#{@number_of_sip_accounts})",
				url_for(:controller => '/sip_accounts', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new SIP account",
				url_for(:controller => '/sip_accounts', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2>SIP phones</h2>
		<ul>
			<li><%= link_to( "List all SIP phones (#{@number_of_phones})",
				url_for(:controller => '/phones', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new SIP phone",
				url_for(:controller => '/phones', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2>SIP proxies</h2>
		<ul>
			<li><%= link_to( "List all SIP proxies (#{@number_of_sip_proxies})",
				url_for(:controller => '/sip_proxies', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new SIP proxy",
				url_for(:controller => '/sip_proxies', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2>SIP servers</h2>
		<ul>
			<li><%= link_to( "List all SIP servers (#{@number_of_sip_servers})",
				url_for(:controller => '/sip_servers', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new SIP server",
				url_for(:controller => '/sip_servers', :action => 'new')
			) %></li>
		</ul>
	</section>
	

	<section>
		<h2>Extensions</h2>
		<ul>
			<li><%= link_to( "List all extensions (#{@number_of_extensions})",
				url_for(:controller => '/extensions', :action => 'index')
			) %></li>
			<li><%= link_to( "Create a new extension",
				url_for(:controller => '/extensions', :action => 'new')
			) %></li>
		</ul>
	</section>

</div>
