<h1><%= t(:admin_page) %></h1>


<div class="index_overview">
	<section>
		<h2><%= t(:wizards) %></h2>
		<ul>
			<li><%= link_to( "#{t(:wizard_phone_and_user_new)}",
			url_for(:controller => '/admin/wizard_phone_and_user', :action => 'new' )
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2><%= t(:users) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_users)} (#{@number_of_users})",
				url_for(:controller => '/admin/users', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_user),
				url_for(:controller => '/admin/users', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2><%= t(:sip_accounts) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_sip_accounts)} (#{@number_of_sip_accounts})",
				url_for(:controller => '/sip_accounts', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_sip_account),
				url_for(:controller => '/sip_accounts', :action => 'new')
			) %></li>
		</ul>
	</section>

	
	
	<section>
		<h2><%= t(:extensions) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_extensions)} (#{@number_of_extensions})",
				url_for(:controller => '/extensions', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_extension),
				url_for(:controller => '/extensions', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	
	<section>
		<h2><%= t(:maintenance) %></h2>
		<ul>
			<li><%= link_to( t(:shutdown),
				url_for(:controller => '/admin', :action => 'confirm_shutdown')
			) %></li>
			<li><%= link_to( t(:reboot_system),
				url_for(:controller => '/admin', :action => 'confirm_reboot')
			) %></li>
		</ul>
	</section>
</div>
	<hr/>
	<% if ! @phones.empty? %>
	<h2><%= t(:listing_phones_last_modified)%></h2>

	<%= render :partial => 'phones/table_of_phones', :locals => {:phones => @phones} %>
	
	<%= link_to( t(:list_all_phones), url_for(:controller => '/phones', :action => 'index')) if @number_of_phones > @phones.length %>
	<% end %>
