<h1><%= t(:admin_page) %></h1>

<p><%= t(:admin_page_subtitle) %></p>

<div class="index_overview">
	
	<section>
		<h2><%= t(:users) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_users)} (#{@number_of_users})",
				url_for(:controller => '/admin/users', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_user),
				url_for(:controller => '/admin/users', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2><%= t(:sip_accounts) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_sip_accounts)} (#{@number_of_sip_accounts})",
				url_for(:controller => '/sip_accounts', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_sip_account),
				url_for(:controller => '/sip_accounts', :action => 'new')
			) %></li>
		</ul>
	</section>

	<section>
		<h2><%= t(:phones) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_phones)} (#{@number_of_phones})",
				url_for(:controller => '/phones', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_phone),
				url_for(:controller => '/phones', :action => 'new')
			) %></li>
		</ul>
	</section>

	<section>
		<h2><%= t(:sip_servers) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_sip_servers)} (#{@number_of_sip_servers})",
				url_for(:controller => '/sip_servers', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_sip_server),
				url_for(:controller => '/sip_servers', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2><%= t(:sip_proxies) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_sip_proxies)} (#{@number_of_sip_proxies})",
				url_for(:controller => '/sip_proxies', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_sip_proxy),
				url_for(:controller => '/sip_proxies', :action => 'new')
			) %></li>
		</ul>
	</section>
	
	<section>
		<h2><%= t(:extensions) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_extensions)} (#{@number_of_extensions})",
				url_for(:controller => '/extensions', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_extension),
				url_for(:controller => '/extensions', :action => 'new')
			) %></li>
		</ul>
	</section>
	<section>
		<h2><%= t(:configurations) %></h2>
		<ul>
			<li><%= link_to( "#{t(:list_all_configurations)}(#{@number_of_configurations})",
				url_for(:controller => '/configurations', :action => 'index')
			) %></li>
			<li><%= link_to( t(:new_configuration),
				url_for(:controller => '/configurations', :action => 'new')
			) %></li>
		</ul>
	</section>
</div>
