<%= form_for(@voicemail_server) do |f| %>
  <% if @voicemail_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voicemail_server.errors.count, "error") %> prohibited this voicemail_server from being saved:</h2>

      <ul>
      <% @voicemail_server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host, "SIP host" %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :port, "SIP port" %><br />
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= f.label :management_host %><br />
    <%= f.text_field :management_host %>
  </div>
  <div class="field">
    <%= f.label :management_port %><br />
    <%= f.text_field :management_port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
