<%= form_for(@voicemail_server) do |f| %>
  <% if @voicemail_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:errors_model_not_saved ,:errors_count => pluralize(@voicemail_server.errors.count, "error"), :model_name => t(:voicemail_server)) %>:</h2>
      <ul>
      <% @voicemail_server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host, t(:sip_host) %><br />
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :port, t(:sip_port) %><br />
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= f.check_box :is_local %>
    <%= f.label :is_local, t(:is_local) %>
  </div>
  <div class="actions">
    <%= f.submit(t(:save)) %>
  </div>
<% end %>
