<h1><%= t(:voicemail_servers)%></h1>

<table>
  <tr>
    <th><%= t(:sip_host) %></th>
    <th><%= t(:sip_port) %></th>
    <th><%= t(:is_local) %></th>
    <th></th>
    <th></th>
  </tr>

<% @voicemail_servers.each do |voicemail_server| %>
  <tr>
    <td><%= voicemail_server.host %></td>
    <td><%= voicemail_server.port %></td>
    <td><%= voicemail_server.is_local ? t(:yes_lowercase) : t(:no_lowercase) %></td>
    <td><%= link_to t(:show)    ,                                        voicemail_server %></td>
    <td><%= link_to t(:destroy) , confirm_destroy_voicemail_server_path( voicemail_server ) if can?( :destroy, voicemail_server ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_voicemail_server), new_voicemail_server_path %>
