<%= simple_form_for( @extension ) { |f| %>
  <% if @extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
      <% @extension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extension %>
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :sip_account_id, "SIP account" %>
    <%= f.select( :sip_account_id,
      @sip_accounts.collect { |r| [ "#{r.auth_name}", r.id ] },
      { :include_blank => true, :selected => @extension.sip_account_id }
    ) %>
  </div>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% } %>
