<%= simple_form_for @extension do |f| %>
  <% if @extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
      <% @extension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :extension %><br />
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.association :sip_accounts, :as => :select, :label_method => :auth_name,
      :include_blank => true, :multiple => false
    %>
    
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
