
<p>
  <b><%= t(:extension) %>:</b>
  <%= @extension.extension %>
</p>

<p>
  <b><%= t(:destination) %>:</b>
  <%= @extension.destination %>
</p>

<p>
  <b><%= t(:active) %>:</b>
  <%= @extension.active %>
</p>
