<% page_title t(:editing_extension) %>
<h1><%= t(:editing_extension) %></h1>

<%
if    @sip_account %><%= render 'form_sip_account' %><%
elsif @conference  %><%= render 'form_conference'  %><%
elsif @call_queue  %><%= render 'form_call_queue'  %><%
else               %><%= render 'form'             %><%
end
%>

<%= link_to t(:show), @extension %> |
<%= link_to t(:Go_to_list), extensions_path %>
