<h1>Listing extensions</h1>

<table>
  <tr>
    <th>Extension</th>
    <th>Destination</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @extensions.each do |extension| %>
  <tr>
    <td><%= extension.extension %></td>
    <td><%= extension.destination %></td>
    <td><%= extension.active %></td>
    <td><%= link_to 'Show', extension %></td>
    <td><%= link_to 'Edit', edit_extension_path(extension) %></td>
    <td><%= button_to 'Destroy', extension, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New extension', new_extension_path %>
