<% page_title t(:listing_extensions) %>
<h1><%= t(:listing_extensions) %></h1>

<table>
  <tr>
    <th><%= t(:extension) %></th>
    <th><%= t(:destination) %></th>
    <th><%= t(:active) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @extensions.each do |extension| %>
  <tr>
    <td><%= extension.extension %></td>
    <td><%= extension.destination %></td>
    <td><%= extension.active ? t(:yes_lowercase) : t(:no_lowercase) %></td>
    <td><%= link_to t(:show)    ,                                 extension %></td>
    <td><%= link_to t(:edit)    ,            edit_extension_path( extension ) %></td>
    <td><%= link_to t(:destroy) , confirm_destroy_extension_path( extension ) if can?( :destroy, extension ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_extension), new_extension_path %>
