<h1>Listing sip_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Auth name</th>
    <th>Password</th>
    <th>Realm</th>
    <th>Phone number</th>
    <th>Sip server</th>
    <th>Sip proxy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_users.each do |sip_user| %>
  <tr>
    <td><%= sip_user.user_id %></td>
    <td><%= sip_user.auth_name %></td>
    <td><%= sip_user.password %></td>
    <td><%= sip_user.realm %></td>
    <td><%= sip_user.phone_number %></td>
    <td><%= sip_user.sip_server_id %></td>
    <td><%= sip_user.sip_proxy_id %></td>
    <td><%= link_to 'Show', sip_user %></td>
    <td><%= link_to 'Edit', edit_sip_user_path(sip_user) %></td>
    <td><%= link_to 'Destroy', sip_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sip user', new_sip_user_path %>
