<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sip_user.user_id %>
</p>

<p>
  <b>Auth name:</b>
  <%= @sip_user.auth_name %>
</p>

<p>
  <b>Password:</b>
  <%= @sip_user.password %>
</p>

<p>
  <b>Realm:</b>
  <%= @sip_user.realm %>
</p>

<p>
  <b>Phone number:</b>
  <%= @sip_user.phone_number %>
</p>

<p>
  <b>Sip server:</b>
  <%= @sip_user.sip_server_id %>
</p>

<p>
  <b>Sip proxy:</b>
  <%= @sip_user.sip_proxy_id %>
</p>


<%= link_to 'Edit', edit_sip_user_path(@sip_user) %> |
<%= link_to 'Back', sip_users_path %>
