<h1><%= t(:setup_after_installation) %></h1>
<table>
	<tr>
		<td>
			<% if SipServer.count == 0 %>
			  <%= link_to t(:create_first_sip_server), new_sip_server_path %>
			<% else %>
			  <%= t(:first_sip_server_configured) %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<% if SipProxy.count == 0 %>
			  <%= link_to t(:create_first_sip_proxy), new_sip_proxy_path %>
			<% else %>
			 <%= t(:first_sip_proxy_configured) %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<% if VoicemailServer.count == 0 %>
			  <%= link_to t(:create_first_voicemail_server), new_voicemail_server_path %>
			<% else %>
			 <%= t(:first_voicemail_server_configured) %>
			<% end %>
		</td>
	</tr>
</table>
