<% page_title t(:setup_admin_account) %>
<h1><%= t(:welcome_to_application_name) %></h1>

<p>
<%= t(:first_admin_step) %>
</p>

<%= form_for :user,  :url => { :action => "create" } do |f| %>
<div class="field">
    <%= f.label :username, t(:username) %>
    <br/>
    <%= f.text_field :username %>
</div>
<div class="field">
    <%= f.label :password, t(:password) %>
    <br/>
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <br/>
    <%= f.password_field :password_confirmation %>
</div>
<div class="field">
    <%= f.label :gn, t(:given_name) %>
    <br/>
    <%= f.text_field :gn %>
</div>
<div class="field">
    <%= f.label :sn, t(:surname) %>
    <br/>
    <%= f.text_field :sn %>
</div>
<div class="field">
    <%= f.label :email, t(:email_address) %>
	<br/>
    <%= f.text_field :email %>
</div>
<div class="actions">
    <%= f.submit(t(:create_admin_account)) %>
</div>

<% end %>