<% page_title t(:setup_admin_account) %>
<h1><%= t(:setup_admin_account) %></h1>

<p>
<%= t(:first_admin_step) %>
</p>

<%= simple_form_for( @user, :url => { :action => "create" }) do |f| %>
	<%= f.error_messages %>
	
	<%= f.input :username %>
	<%= f.input :password              , :as => :password %>
	<%= f.input :password_confirmation , :as => :password %>
	<%= f.input :email, :as => :email %>
	
	<%= f.button :submit %>
<% end %>
