<% page_title "Setup of an administrator account." %>
<h1>Welcome to Gemeinschaft!</h1>

<p>
The first step in administrating your new Gemeinschaft PBX is to create a new account with admin privileges. After creating it here you can use it to login on this web GUI.	
</p>

<%= form_for :user,  :url => { :action => "create" } do |f| %>
<div class="field">
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username %>
</div>
<div class="field">
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation, 'Password confirmation' %>
    <br/>
    <%= f.password_field :password_confirmation %>
</div>
<div class="field">
    <%= f.label :gn, 'First name' %>
    <br/>
    <%= f.text_field :gn %>
</div>
<div class="field">
    <%= f.label :sn, 'Last name' %>
    <br/>
    <%= f.text_field :sn %>
</div>
<div class="field">
    <%= f.label :email %>
	<br/>
    <%= f.text_field :email %>
</div>
<div class="actions">
    <%= f.submit %>
</div>

<% end %>