<h1>Listing user_to_phones</h1>

<table>
  <tr>
    <th>User</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_to_phones.each do |user_to_phone| %>
  <tr>
    <td><%= user_to_phone.user_id %></td>
    <td><%= user_to_phone.phone_id %></td>
    <td><%= link_to 'Show', user_to_phone %></td>
    <td><%= link_to 'Edit', edit_user_to_phone_path(user_to_phone) %></td>
    <td><%= link_to 'Destroy', user_to_phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User to phone', new_user_to_phone_path %>
