<h1><%= t(:listing_authentications) %></h1>

<table>
  <tr>
    <th><%= t(:user) %></th>
    <th><%= t(:provider) %></th>
    <th><%= t(:uid) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authentications.each do |authentication| %>
  <tr>
    <td><%= authentication.user_id %></td>
    <td><%= authentication.provider %></td>
    <td><%= authentication.uid %></td>
    <td><%= button_to t(:destroy), authentication, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

