
<p>
  <b><%= t(:user) %>:</b>
  <%= @authentication.user_id %>
</p>

<p>
  <b><%= t(:provider) %>:</b>
  <%= @authentication.provider %>
</p>

<p>
  <b><%= t(:uid) %>:</b>
  <%= @authentication.uid %>
</p>


<%= link_to t(:edit), edit_authentication_path(@authentication) %> |
<%= link_to t(:back), authentications_path %>
