<p id="notice"><%= notice %></p>

<p>
  <b>Sip account:</b>
  <%= @call_forward.sip_account_id %>
</p>

<p>
  <b>Source:</b>
  <%= @call_forward.source %>
</p>

<p>
  <b>Call forward reason:</b>
  <%= @call_forward.call_forward_reason_id %>
</p>

<p>
  <b>Destination:</b>
  <%= @call_forward.destination %>
</p>

<p>
  <b>Call timeout:</b>
  <%= @call_forward.call_timeout %>
</p>

<p>
  <b>Active:</b>
  <%= @call_forward.active %>
</p>
<%= link_to 'Edit', edit_call_forward_path(@call_forward) %> |
<%= link_to 'Back', call_forwards_path %>
