<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :gn %><br />
    <%= f.text_field :gn %>
  </div>
  <div class="field">
    <%= f.label :sn %><br />
    <%= f.text_field :sn %>
  </div>
  <div class="field">
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :userPassword %><br />
    <%= f.text_field :userPassword %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
