<h1>Listing users</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Gn</th>
    <th>Sn</th>
    <th>Mail</th>
    <th>Userpassword</th>
    <th>Telephonenumber</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.uid %></td>
    <td><%= user.gn %></td>
    <td><%= user.sn %></td>
    <td><%= user.mail %></td>
    <td><%= user.userPassword %></td>
    <td><%= user.telephoneNumber %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
