<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Given name</th>
    <th>Surname</th>
    <th>E-mail address</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.uid %></td>
    <td><%= user.gn %></td>
    <td><%= user.sn %></td>
    <td><%= user.mail %></td>
    <td>&bull;&bull;&bull;</td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
