<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Given name:</b>
  <%= @user.gn %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.sn %>
</p>

<p>
  <b>E-mail address:</b>
  <%= @user.mail %>
</p>

<p>
  <b>Password:</b>
  &bull;&bull;&bull;
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
