<h2><%= t(:forgot_password) %></h2>

<%= form_for( resource, :as => resource_name, :url => password_path(resource_name) ) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email, t(:email_address) %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.submit t(:send_reset_password_instructions) %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
