<% page_title t(:fax_documents) %>
<h1><%= t(:fax_documents) %></h1>

<table>
  <tr>
    <th><%= t(:direction) %></th>
    <% if can?( :manage, FaxDocument ) %>
    <th><%= t(:user) %></th>
    <% end %>
    <th><%= t(:date_date) %></th>
    <th><%= t(:transmitted) %></th>
    <th><%= t(:document) %></th>
    <th><%= t(:source) %></th>
    <th><%= t(:destination) %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fax_documents.each do |fax_document| %>
  <tr>
    <td><%= fax_document.outgoing ? t(:outbound) : t(:inbound) %></td>
    <% if can?( :manage, FaxDocument ) %>
    <td><%= fax_document.user.to_display if fax_document.user %></td>
    <% end %>
    <td><%= l( Time.at(fax_document.created_at.localtime), :format => :short) %></td>
    <td>
    <% if fax_document.sent %>
      <%= l( Time.at(fax_document.sent.localtime), :format => :short) %>
    <% elsif fax_document.received %>
      <%= l( Time.at(fax_document.received.localtime), :format => :short) %>
    <% else %>
      <%= t(:no_lowercase) %>
    <% end %>
    </td>
    <td><%= fax_document.file %></td>
    <td><%= fax_document.source %></td>
    <td><%= fax_document.destination %></td>
    <td><%= link_to t(:show)    ,                                    fax_document %></td>
    <td><%= link_to t(:pdf), fax_document_path(fax_document, :format => 'pdf') %></td>
    <td><%= link_to t(:send)    ,            number_fax_document_path( fax_document ) if can?( :transfer, fax_document ) %></td>
    <td><%= link_to t(:destroy) , confirm_destroy_fax_document_path( fax_document ) if can?( :destroy, fax_document ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_fax), new_fax_document_path %>
