

<p>
  <b><%= t(:destination) %>:</b>
  <%= @fax_document.destination %>
</p>
<p>
  <b><%= t(:title) %>:</b>
  <%= @fax_document.title %>
</p>
<p>
  <b><%= t(:document) %>:</b>
  <%= @fax_document.file %>
</p>
<p>
  <img src="<%= fax_document_path(@fax_document, :format => 'png') %>" />
</p>

<%= link_to t(:download), fax_document_path(@fax_document, :format => 'tif') %> |
<%= link_to t(:edit), edit_fax_document_path(@fax_document) %> |
<%= link_to t(:Go_to_list), fax_documents_path %>
