

<p>
  <b>Destination:</b>
  <%= @fax_document.destination %>
</p>
<p>
  <b>Title:</b>
  <%= @fax_document.title %>
</p>
<p>
  <b>Document:</b>
  <%= @fax_document.file %>
</p>
<p>
  <img src="<%= fax_document_path(@fax_document, :format => 'png') %>" />
</p>

<%= link_to 'Download', fax_document_path(@fax_document, :format => 'tif') %> |
<%= link_to 'Edit', edit_fax_document_path(@fax_document) %> |
<%= link_to 'Back', fax_documents_path %>
