<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:errors_model_not_saved ,:errors_count => pluralize(@conference.errors.count, "error"), :model_name => t(:conference)) %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pin, t(:pin) %><br />
    <%= f.text_field :pin %>
  </div>
  <%= f.hidden_field :uuid %>
  <div class="actions">
    <%= f.submit(t(:save)) %>
  </div>
<% end %>
