<h1><%= t(:listing_conferences) %></h1>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:pin) %></th>
    <th><%= t(:extensions) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.name %></td>
    <td><%= conference.pin %></td>
    <td>
    <% if !conference.extensions.nil? %>
      <ul>
      <% conference.extensions.each do |extension| %>
        <li><%= link_to extension.extension, conference_extension_path(conference, extension) %></li>
      <% end %>
      </ul>
    <% end %>
    </td>
    <td><%= link_to t(:show), conference %></td>
    <td><%= link_to t(:edit), edit_conference_path(conference) %></td>
    <td><%= button_to t(:destroy), conference, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_conference), new_conference_path %>
