<h1><%= t(:listing_conferences) %></h1>

<table>
  <tr>
    <th><%= t(:user) %></th>
    <th><%= t(:name) %></th>
    <th><%= t(:pin) %></th>
    <th><%= t(:extensions) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.user ? conference.user.to_display : '' %></td>
    <td><%= conference.name %></td>
    <td><%= conference.pin %></td>
    <td>
      <ul>
      <% conference.extensions.each do |extension| %>      
        <li>
        <% if can?( :show, extension ) %>
        <%= link_to( extension.extension, conference_extension_path( conference, extension ) ) %>
        <% else %>
        <%= extension.extension %>
        <% end %>
        </li>
        <% end %>
      </ul>
    </td>
    <td><%= link_to t(:show), conference %></td>
    <td><%= link_to t(:edit), edit_conference_path(conference) if can?(:edit, conference) %></td>
    <td><%= link_to t(:destroy), confirm_destroy_conference_path(conference) if can?( :destroy, conference ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_conference), new_conference_path if can?(:create, Conference) %>
