

<p>
  <b><%= t(:name) %>:</b>
  <%= @conference.name %>
</p>

<p>
  <b><%= t(:pin) %>:</b>
  <%= @conference.pin %>
</p>

<b><%= t(:extensions) %>:</b>
  <% if @conference.extensions.count == 0 && current_user.role == "admin" %>
  <%#OPTIMIZE Don't use roles in a view. Use CanCan abilities. %>
  <div class="noticebox">
    <%= t(:conference_need_to_create_extension) %>
  </div>
  <% end %>
  
  <ul>
  <% @conference.extensions.each do |extension| %>
    <li><%= extension.extension %></li>  
  <% end %>
  <% if current_user.role == "admin" %>
  <%#OPTIMIZE Don't use roles in a view. Use CanCan abilities. %>
    <li><%= link_to t(:new_extension), new_conference_extension_path( @conference, {:destination => @conference.uuid}) %>
  <% end %>
  </ul>
</p>

<% if (current_user.role == "admin" || current_user.id == @conference.user_id) %>
<%#OPTIMIZE Don't use roles or logic in a view. Use CanCan abilities. %>
<%= link_to t(:edit), edit_conference_path(@conference) %> |
<% end %>
<%= link_to t(:Go_to_list), conferences_path %>
