<h1><%= t(:wizard_phone_and_user) %></h1>

<%= error_messages_for 'user' %>
<%= error_messages_for 'phone' %>
<%= error_messages_for 'sip_account' %>
<%= error_messages_for 'extension' %>
<%= error_messages_for 'sip_account_to_extension' %>



<%= render 'form' %>
