<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<document type="freeswitch/xml">
	<section name="directory">
<%
	@sip_accounts.each { |acct| 
		domain = (acct.sip_server ? acct.sip_server.host.to_s : '')
		realm  = (acct.realm ? acct.realm.to_s : '')
%>
		<domain name="<%= domain %>">
			<groups>
				<group name="default">
					<users>
						<user id="<%= acct.auth_name %>">
							<params>
								<param name="dial-string" value="${sofia_contact(<%= acct.auth_name %>@<%= domain %>)}" />
								<param name="a1-hash" value="<%= Digest::MD5.hexdigest(
									acct.auth_name.to_s + ":" +
									realm + ":" +
									acct.password.to_s
								) %>" />
								<param name="vm-a1-hash" value="<%= Digest::MD5.hexdigest(
									acct.auth_name.to_s + ":" +
									realm + ":" +
									( (! acct.voicemail_pin.blank?) \
										? acct.voicemail_pin.to_s \
										: rand(999999999).to_s.rjust(9,'0') + rand(999999999).to_s.rjust(9,'0')
									)
								) %>" />
							</params>
							<variables>
								<variable name="accountcode" value="<%= acct.auth_name %>" />
								<variable name="effective_caller_id_number" value="<%= acct.user ? acct.user.username : acct.auth_name %>" />
								<variable name="effective_caller_id_name" value="<%= acct.user ? "#{acct.user.sn}, #{acct.user.gn}" : '' %>" />
								<variable name="outbound_caller_id_number" value="<%= acct.user ? acct.user.username : acct.auth_name %>" />
								<variable name="outbound_caller_id_name" value="<%= acct.user ? "#{acct.user.sn}, #{acct.user.gn}" : '' %>" />
								<variable name="user_context" value="default" />
								<variable name="toll_allow" value="domestic,international,local" />
								<variable name="callgroup" value="users" />
							</variables>
						</user>
					</users>
				</group>
			</groups>
		</domain>
<%
	}
%>
	</section>
</document>
