<h1>Listing call_logs</h1>

<table>
  <tr>
    <th>Sip account</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Call type</th>
    <th>Disposition</th>
    <th>Forwarded to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @call_logs.each do |call_log| %>
  <tr>
    <td><%= call_log.sip_account_id %></td>
    <td><%= call_log.source %></td>
    <td><%= call_log.destination %></td>
    <td><%= call_log.call_type %></td>
    <td><%= call_log.disposition %></td>
    <td><%= call_log.forwarded_to %></td>
    <td><%= link_to 'Show', call_log %></td>
    <td><%= link_to 'Edit', edit_call_log_path(call_log) %></td>
    <td><%= link_to 'Destroy', call_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Call log', new_call_log_path %>
