
<p>
  <b><%= t(:date_date) %>:</b>
  <%= @call_log.created_at.localtime %>
</p>

<p>
  <b><%= t(:sip_account) %>:</b>
  <%= @call_log.sip_account_id %>
</p>

<p>
  <b><%= t(:source) %>:</b>
  <%= @call_log.source %>
</p>

<p>
  <b><%= t(:source_name) %>:</b>
  <%= @call_log.source_name %>
</p>

<p>
  <b><%= t(:destination) %>:</b>
  <%= @call_log.destination %>
</p>

<p>
  <b><%= t(:destination_name) %>:</b>
  <%= @call_log.destination_name %>
</p>

<p>
  <b><%= t(:call_type) %>:</b>
  <%= @call_log.call_type %>
</p>

<p>
  <b><%= t(:disposition) %>:</b>
  <%= @call_log.disposition %>
</p>

<p>
  <b><%= t(:forwarded_to) %>:</b>
  <%= @call_log.forwarded_to %>
</p>


<%= link_to t(:edit), edit_call_log_path(@call_log) %> |
<%= link_to t(:back), call_logs_path %>
