
<p>
  <b>Date:</b>
  <%= @call_log.created_at.localtime %>
</p>

<p>
  <b>Sip account:</b>
  <%= @call_log.sip_account_id %>
</p>

<p>
  <b>Source:</b>
  <%= @call_log.source %>
</p>

<p>
  <b>Source name:</b>
  <%= @call_log.source_name %>
</p>

<p>
  <b>Destination:</b>
  <%= @call_log.destination %>
</p>

<p>
  <b>Destination name:</b>
  <%= @call_log.destination_name %>
</p>

<p>
  <b>Call type:</b>
  <%= @call_log.call_type %>
</p>

<p>
  <b>Disposition:</b>
  <%= @call_log.disposition %>
</p>

<p>
  <b>Forwarded to:</b>
  <%= @call_log.forwarded_to %>
</p>


<%= link_to 'Edit', edit_call_log_path(@call_log) if can?( :edit, @call_log ) %> |
<%= link_to 'Back', call_logs_path if can?( :index, CallLog ) %>
