<%= form_for(@sip_account) do |f| %>
  <% if @sip_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sip_account.errors.count, "error") %> prohibited this sip_account from being saved:</h2>

      <ul>
      <% @sip_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :auth_name %><br />
    <%= f.text_field :auth_name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :realm %><br />
    <%= f.text_field :realm %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :sip_server_id %><br />
    <%= f.text_field :sip_server_id %>
  </div>
  <div class="field">
    <%= f.label :sip_proxy_id %><br />
    <%= f.text_field :sip_proxy_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
