<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>MAC Address</th>
    <th>Auth. user</th>
    <th>Password</th>
    <th>User ID</th>
    <th>SIP server ID</th>
    <th>SIP proxy ID</th>
    <th></th>
    <th></th>
  </tr>

<% sip_accounts.each do |sip_account| %>
  <tr>
    <td><%= link_to sip_account.auth_name, sip_account %></td>
    <td><%= sip_account.phone.phone_model.name %></td>
    <td><%= link_to sip_account.phone.mac_address, sip_account.phone %></td>
    <td><%= sip_account.auth_name %></td>
    <td><%= sip_account.password %></td>
    <td><%= sip_account.user_id %></td>
    <td><%= sip_account.sip_server_id %></td>
    <td><%= sip_account.sip_proxy_id %></td>
    <td><%= link_to 'Edit', edit_sip_account_path(sip_account) %></td>
    <td><%= button_to 'Destroy', sip_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
