<table>
	<tr>
		<% if ! current_page?('SipAccountsController#index') %>
		<th><%= t(:user) %></th>
		<th><%= t(:auth_name) %></th>
		<% end %>
		
		<th><%= t(:caller_name) %></th>
		<th><%= t(:extensions) %></th>
		
		<% if params[:controller] == 'sip_accounts' %>
		<th><%= t(:sip_phone) %></th>
		<% end %>
		
		<th><%= t(:registered) %></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @sip_accounts.each do |sip_account| %>
	<tr>
		<% if ! current_page?('SipAccountsController#index') %>
		<td>
			<% if sip_account.user %>
				<%= sip_account.user.to_display %>
			<% else %>
				-
			<% end %>
		</td>
		<td><%= sip_account.auth_name %></td>
		<% end %>
		
		<td><%= sip_account.caller_name %></td>
		<td><%
			sip_account_extensions = sip_account.extensions.accessible_by( current_ability, :show )
			if sip_account_extensions
			%>
				<% sip_account_extensions.each do |extension| %>
					<%= link_to extension.extension, sip_account_extension_path(sip_account, extension) %><%= ', ' if extension != sip_account_extensions.last %>
				<% end %>
			<% end %>
		</td>
		
		<% if params[:controller] == 'sip_accounts' %>
		<td>
			<% if sip_account.try(:phone) %>
				<%= sip_account.phone.phone_model.name %><br />
				MAC: <%= link_to sip_account.phone.mac_address_to_display, sip_account.phone %><br />
				<%= "IP: #{sip_account.phone.ip_address}" if ! sip_account.phone.ip_address.blank? %>
			<% end %>
		</td>
		<% end %>
		
		<td class="<%= sip_account.registered? ? 'status_yes' : 'status_no' %>"><%= sip_account.registered? ? t(:yes_lowercase) : t(:no_lowercase) %></td>
		<td><%= link_to t(:show)    ,                                   sip_account %></td>
		<td><%= link_to t(:edit)    ,            edit_sip_account_path( sip_account ) %></td>
		<td><%= link_to t(:destroy) , confirm_destroy_sip_account_path( sip_account ) if can?( :destroy, sip_account ) %></td>
	</tr>
<% end %>
</table>