<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:sip_phone) %></th>
    <th><%= t(:mac_address) %></th>
    <th><%= t(:auth_name) %></th>
    <th><%= t(:password) %></th>
    <th><%= t(:user_id) %></th>
    <th><%= t(:sip_server_id) %></th>
    <th><%= t(:sip_proxy_id) %></th>
    <th></th>
    <th></th>
  </tr>

<% sip_accounts.each do |sip_account| %>
  <tr>
    <td><%= link_to sip_account.auth_name, sip_account %></td>
    <td><%= sip_account.phone.phone_model.name %></td>
    <td><%= link_to sip_account.phone.mac_address, sip_account.phone %></td>
    <td><%= sip_account.auth_name %></td>
    <td><%= sip_account.password %></td>
    <td><%= sip_account.user_id %></td>
    <td><%= sip_account.sip_server_id %></td>
    <td><%= sip_account.sip_proxy_id %></td>
    <td><%= link_to t(:edit), edit_sip_account_path(sip_account) %></td>
    <td><%= button_to t(:destroy), sip_account, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>
