<h1><%= t(:listing_sip_accounts) %></h1>

<table>
  <tr>
    <th><%= t(:user_id) %></th>
    <th><%= t(:auth_name) %></th>
    <th><%= t(:password) %></th>
    <th><%= t(:realm) %></th>
    <th><%= t(:sip_server_id) %></th>
    <th><%= t(:sip_proxy_id) %></th>
    <th><%= t(:voicemail_server_id) %></th>
    <th><%= t(:caller_name) %></th>
    <th><%= t(:extensions) %></th>
    <th><%= t(:sip_phone) %></th>
    <th><%= t(:registered) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_accounts.each do |sip_account| %>
  <tr>
    <td><%= sip_account.user_id %></td>
    <td><%= sip_account.auth_name %></td>
    <td><%= sip_account.password %></td>
    <td><%= sip_account.realm %></td>
    <td><%= sip_account.sip_server_id %></td>
    <td><%= sip_account.sip_proxy_id %></td>
    <td><%= sip_account.voicemail_server_id %></td>
    <td><%= sip_account.caller_name %></td>
    <td><%
      sip_account_extensions = sip_account.extensions.accessible_by( current_ability, :show )
    %>
    <% if sip_account_extensions %>
      <ul>
      <% sip_account_extensions.each do |extension| %>
        <li><%= link_to extension.extension, sip_account_extension_path(sip_account, extension) %></li>
      <% end %>
      </ul>
    <% end %>
    </td>
    <td>
      <% if sip_account.try(:phone) %>
        <%= sip_account.phone.mac_address %>
      <% end %>
    </td>
    <td><%
      num_locations = Location.where({
        :username => "#{sip_account.auth_name}",
        #:domain   => "...",  #OPTIMIZE Check domain.
      }).where(
        Location.arel_table[:contact].not_in([ nil, '' ])
      ).count
    %><%=
      num_locations > 0 ? t(:yes_lowercase) : t(:no_lowercase)
    %></td>
    <td><%= link_to t(:show), sip_account %></td>
    <td><%= link_to t(:edit), edit_sip_account_path(sip_account) %></td>
    <td><%= button_to t(:destroy), sip_account, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_sip_account), new_sip_account_path %>
