<h1>Listing SIP accounts</h1>

<table>
  <tr>
    <th>User ID</th>
    <th>Auth. name</th>
    <th>Password</th>
    <th>Realm</th>
    <th>Phone number</th>
    <th>SIP server ID</th>
    <th>SIP proxy ID</th>
    <th>SIP phone ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_accounts.each do |sip_account| %>
  <tr>
    <td><%= sip_account.user_id %></td>
    <td><%= sip_account.auth_name %></td>
    <td><%= sip_account.password %></td>
    <td><%= sip_account.realm %></td>
    <td><%= sip_account.phone_number %></td>
    <td><%= sip_account.sip_server_id %></td>
    <td><%= sip_account.sip_proxy_id %></td>
    <td><%= sip_account.sip_phone_id %></td>
    <td><%= link_to 'Show', sip_account %></td>
    <td><%= link_to 'Edit', edit_sip_account_path(sip_account) %></td>
    <td><%= button_to 'Destroy', sip_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New SIP account', new_sip_account_path %>
