<p id="notice"><%= notice %></p>

<p>
  <b>User ID:</b>
  <%= @sip_account.user_id %>
</p>

<p>
  <b>Auth name:</b>
  <%= @sip_account.auth_name %>
</p>

<p>
  <b>Password:</b>
  <%= @sip_account.password %>
</p>

<p>
  <b>Realm:</b>
  <%= @sip_account.realm %>
</p>

<p>
  <b>Phone number:</b>
  <%= @sip_account.phone_number %>
</p>

<p>
  <b>SIP server ID:</b>
  <%= @sip_account.sip_server_id %>
</p>

<p>
  <b>SIP proxy ID:</b>
  <%= @sip_account.sip_proxy_id %>
</p>

<p>
  <b>Provisioning SIP account:</b>
<%
	cantina_sip_account = @sip_account.cantina_sip_account
	case cantina_sip_account
		when nil
			%>none!<%
		when false
			%>Failed to query provisioning server!<%
		else
			%><%= cantina_sip_account.user %>@<%= cantina_sip_account.sip_proxy %><%
	end
%>
</p>


<%= link_to 'Edit', edit_sip_account_path(@sip_account) %> |
<%= link_to 'Back', sip_accounts_path %>
