
<p>
  <b>User:</b>
  <%= @sip_account.user_id ? "ID #{@sip_account.user_id}" : "-" %>
  <% if @sip_account.user %>
    (<%= @sip_account.user.sn %>, <%= @sip_account.user.gn %>, <%= @sip_account.user.username %>, <%= @sip_account.user.email %>)
  <% end %>
</p>

<p>
  <b>Auth name:</b>
  <%= @sip_account.auth_name %>
</p>

<p>
  <b>Password:</b>
  <%= @sip_account.password %>
</p>

<p>
  <b>Realm:</b>
  <%= @sip_account.realm %>
</p>

<p>
  <b>Extensions:</b>
  <% if @sip_account.extensions.count == 0 %>
    <div class="noticebox">
      You need to create an extension to make phonecalls!
  </div>
  <% end %>
  <ul>
  <% @sip_account.extensions.each do |extension| %>
    <li><%= extension.extension %></li>  
  <% end %>
    <li><%= link_to 'create extension', new_sip_account_extension_path(@sip_account, {:destination => @sip_account.auth_name}) %>
  </ul>
</p>
<p>
  <b>Caller name:</b>
  <%= @sip_account.caller_name %>
</p>
<p>
  <b>SIP server:</b>
  <%= @sip_account.sip_server_id ? "ID #{@sip_account.sip_server_id}" : "-" %>
  <% if @sip_account.sip_server %>
    (<%= @sip_account.sip_server.host %>)
  <% end %>
</p>

<p>
  <b>SIP proxy:</b>
  <%= @sip_account.sip_proxy_id ? "ID #{@sip_account.sip_proxy_id}" : "-" %>
  <% if @sip_account.sip_proxy %>
    (<%= @sip_account.sip_proxy.host %>)
  <% end %>
</p>

<p>
  <b>Voicemail server:</b>
  <%= @sip_account.voicemail_server_id ? "ID #{@sip_account.voicemail_server_id}" : "-" %>
  <% if @sip_account.voicemail_server %>
    (<%= @sip_account.voicemail_server.host %>)
  <% end %>
</p>

<p>
  <b>SIP phone:</b>
  <%= @sip_account.phone_id ? "ID #{@sip_account.phone_id}" : "-" %>
  <% if @sip_account.phone %>
    MAC: <%= @sip_account.phone.mac_address %> 
  <% end %>
</p>

<p>
  <b>Registered:</b>
  <%
    num_locations = Location.where({
      :username => "#{@sip_account.auth_name}",
      #:domain   => "...",  #OPTIMIZE Check domain.
    }).where(
      Location.arel_table[:contact].not_in([ nil, '' ])
    ).count
  %><%=
    num_locations > 0 ? "yes" : "no"
  %>
</p>

<p>
</p>


<%= link_to 'Edit', edit_sip_account_path(@sip_account) %> |
<%= link_to 'Back', sip_accounts_path %>
