<h1><%= t(:home_page) %></h1>

<p><%= t(:welcome_user, :given_name => current_user.gn, :surname => current_user.sn) %></p>

<p>
	<b><%= t(:listing_extensions) %> (<%= @extensions.count %>):</b>
	<% if @extensions %>
		<table>
		<% @extensions.each do |extension| %>
			<tr>
			<td><%= extension.extension.extension %></td>
			<td>
			<% if extension.extension.sip_accounts.first %>
				<%= extension.extension.sip_accounts.first.caller_name %>
			<% end %>
			</td>
			</tr>
		<% end %>
		</table>
	<% end %>
</p>
<p>
	<b><%= t(:listing_sip_accounts) %> (<%= @sip_accounts.count %>):</b>
	<% if @sip_accounts %>
		<table>
		<% @sip_accounts.each do |sip_account| %>
			<tr>
			<td><%= sip_account.caller_name %></td>
			<td><%
				num_locations = Location.where({
					:username => "#{sip_account.auth_name}",
					#:domain   => "...",  #OPTIMIZE Check domain.
				}).where(
					Location.arel_table[:contact].not_in([ nil, '' ])
				).count
				%><%=
				num_locations > 0 ? t(:yes_lowercase) : t(:no_lowercase)
				%>		</td>
			</tr>
		<% end %>
		</table>
	<% end %>
</p>

<p>
	<b><%= t(:listing_call_forwards) %> (<%= @call_forwards.count %>):</b>
	<% if @call_forwards %>
		<table>
		<% @call_forwards.last(5).each do |entry| %>
			<tr>
			<td><%= entry.source %></td>
			<td><%= entry.call_forward_reason.value %></td>
			<td><%= entry.call_timeout %></td>
			<td><%= entry.destination %></td>
			</tr>
		<% end %>
		<% if @call_forwards.count > 5 %>
			<tr><td colspan="4">...</td></tr>
		<% end %>
		</table>
	<% end %>
</p>

<p>
	<b><%= t(:calls_missed_number, :calls => @call_log_missed.count) %>:</b>
	<% if @call_log_missed %>
		<table>
		<% @call_log_missed.last(5).each do |entry| %>
			<tr>
			<td><%= l(entry.created_at.localtime, :format => :short) %></td>
			<td><%= entry.source %></td>
			<td><%= entry.source_name %></td>
			<td><%= entry.destination %></td>
			<td><%= entry.destination_name %></td>
			</tr>
		<% end %>
		<% if @call_log_missed.count > 5 %>
			<tr><td colspan="5">...</td></tr>
		<% end %>
		</table>
	<% end %>
</p>