<h1>Listing sip_account_to_sip_users</h1>

<table>
  <tr>
    <th>Sip user</th>
    <th>Sip account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_account_to_sip_users.each do |sip_account_to_sip_user| %>
  <tr>
    <td><%= sip_account_to_sip_user.sip_user_id %></td>
    <td><%= sip_account_to_sip_user.sip_account_id %></td>
    <td><%= link_to 'Show', sip_account_to_sip_user %></td>
    <td><%= link_to 'Edit', edit_sip_account_to_sip_user_path(sip_account_to_sip_user) %></td>
    <td><%= link_to 'Destroy', sip_account_to_sip_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sip account to sip user', new_sip_account_to_sip_user_path %>
