<p id="notice"><%= notice %></p>

<p>
  <b>Sip user:</b>
  <%= @sip_account_to_sip_user.sip_user_id %>
</p>

<p>
  <b>Sip account:</b>
  <%= @sip_account_to_sip_user.sip_account_id %>
</p>


<%= link_to 'Edit', edit_sip_account_to_sip_user_path(@sip_account_to_sip_user) %> |
<%= link_to 'Back', sip_account_to_sip_users_path %>
