
<h1>New user</h1>

<% form_for :user do |f| %>

<div class="field">
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username %>
</div>
<div class="field">
    <%= f.label :password %>
    <br/>
    <%= f.text_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation, 'Password confirmation' %>
    <br/>
    <%= f.text_field :password_confirmation %>
</div>
<div class="field">
    <%= f.label :gn, 'First name' %>
    <br/>
    <%= f.text_field :gn %>
</div>
<div class="field">
    <%= f.label :sn, 'Last name' %>
    <br/>
    <%= f.text_field :sn %>
</div>
<div class="field">
    <%= f.label :email %>
    <%f.text_field :email %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
