<p>
  <b>Name:</b>
  <% if current_page?(:controller => 'phone_models', :action => 'show') %>
    <%= phone_model.name %>
  <% else %>
    <%= link_to phone_model.name, phone_model_path(phone_model) %>
  <% end %>
</p>

<p>
  <b>Manufacturer:</b>
  <% if current_page?(:controller => 'manufacturers', :action => 'show') %>
    <%= phone_model.manufacturer.name %>
  <% else %>
    <%= link_to phone_model.manufacturer.name, manufacturer_path(phone_model.manufacturer) %>
  <% end %>
</p>

<p>
  <b>Max number of SIP accounts:</b>
  <%= phone_model.max_number_of_sip_accounts %>
</p>

<p>
  <b>Number of keys:</b>
  <%= phone_model.number_of_keys %>
</p>
