
<div class="simple_form_show">

<p>
  <b><%= t(:name)%>:</b>
  <% if current_page?(:controller => 'phone_models', :action => 'show') %>
    <%= phone_model.name %>
  <% else %>
    <%= link_to phone_model.name, phone_model_path(phone_model) if can?( :show, phone_model ) %>
  <% end %>
</p>

<p>
  <b><%= t(:manufacturer)%>:</b>
  <% if current_page?(:controller => 'manufacturers', :action => 'show') %>
    <%= phone_model.manufacturer.name %>
  <% else %>
    <%= link_to phone_model.manufacturer.name, manufacturer_path(phone_model.manufacturer) if can?( :show, phone_model.manufacturer ) %>
  <% end %>
</p>

<p>
  <b><%= t(:max_number_of_sip_accounts)%>:</b>
  <%= phone_model.max_number_of_sip_accounts %>
</p>

<p>
  <b><%= t(:number_of_keys)%>:</b>
  <%= phone_model.number_of_keys %>
</p>

<% if !phone_model.manual_url.blank? %>
	<p>
	  <b><%= t(:online_manual)%>:</b>
	  <%= link_to "#{t(:online_manual)} #{phone_model.name}", phone_model.manual_url %>
	</p>
<% end %>
</div>
