<table>
	<tr>
		<th><%= t(:name) %></th>
		<th><%= t(:manufacturer) %></th>
		<th><%= t(:number_of_phones) %></th>
		<th><%= t(:max_number_of_sip_accounts) %></th>
		<th><%= t(:number_of_keys) %></th>
		<th></th>
		<th></th>
	</tr>

<% phone_models.each do |phone_model| %>
	<tr class="<%= cycle("even", "odd") %>">
		<td>
			<%= link_to phone_model.name, phone_model %>
			<br />
			<%= render :partial => 'phone_models/image', :locals => {:phone_model => phone_model} %>
		</td>
		<td><%= link_to truncate(phone_model.manufacturer.name, :length => 25), phone_model.manufacturer %></td>
		<td><%= phone_model.phones.count %></td>
		<td><%= phone_model.max_number_of_sip_accounts %></td>
		<td><%= phone_model.number_of_keys %></td>
		<td><%= link_to t(:edit), edit_phone_model_path(phone_model) if can?( :edit, phone_model ) %></td>
		<td><%= button_to t(:destroy), phone_model, :confirm => 'Are you sure?', :method => :delete if can?( :destroy, phone_model ) %></td>
	</tr>
<% end %>
</table>
