<%= form_for(@sip_phone) do |f| %>
  <% if @sip_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sip_phone.errors.count, "error") %> prohibited this sip_phone from being saved:</h2>

      <ul>
      <% @sip_phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provisioning_server_id, "Provisioning server" %><br />
    <%= f.select( :provisioning_server_id,
      @prov_servers.collect {|r| [ "#{r.name}" + (r.port ? ":#{r.port.to_s}" : '') + " (ID #{r.id})", r.id ] },
      { :include_blank => true, :selected => @sip_phone.provisioning_server_id }
    ) %>
  </div>
<% if @sip_phone.provisioning_server_id %>
  <div class="field">
    <%= f.label :phone_id, "Phone on prov. server" %><br />
    <%
      begin
        @cantina_phones = CantinaPhone.all  #OPTIMIZE - set this in the controller?
      rescue => e
        %>
        <div class="app_alert">
          <%= "Failed to get available phones from provisioning server. (#{e.class}, #{e.message})" %>
        </div>
        <%
      end
      if ! @cantina_phones
        @cantina_phones = []
      end
    %>
    <%= f.select( :phone_id,
      @cantina_phones.collect {|p| [p.mac_address, p.id]},
      :label_method => :mac_address
    ) %>
  </div>
  <br />
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
