<%= form_for(@sip_phone) do |f| %>
  <% if @sip_phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sip_phone.errors.count, "error") %> prohibited this sip_phone from being saved:</h2>

      <ul>
      <% @sip_phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node_id, "Node" %><br />
    <%= f.select( :node_id,
      @nodes.collect {|r| [ "#{r.title} (#{r.management_host}" + (r.port ? ":#{r.management_port.to_s}" : '') + ")", r.id ] },
      { :include_blank => true, :selected => @sip_phone.node_id }
    ) %>
  </div>
<% if @sip_phone.node_id %>
  <div class="field">
    <%= f.label :phone_id, "Phone on node" %><br />
    <%
      begin
        @cantina_phones = CantinaPhone.all  #OPTIMIZE - set this in the controller? #FIXME Remove Cantina...
      rescue => e
        %>
        <div class="app_alert">
          <%= "Failed to get available phones from node / provisioning server. (#{e.class}, #{e.message})" %>
        </div>
        <%
      end
      if ! @cantina_phones
        @cantina_phones = []
      end
    %>
    <%= f.select( :phone_id,
      @cantina_phones.collect {|p| [p.mac_address, p.id]},  #FIXME Remove Cantina...
      :label_method => :mac_address
    ) %>
  </div>
  <br />
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
