<h1>Listing SIP phones</h1>

<table>
  <tr>
    <th>Provisioning server</th>
    <th>Phone ID on prov. server</th>
    <th>MAC address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_phones.each { |sip_phone|
  prov_server = sip_phone.provisioning_server_id ? @prov_servers.find( sip_phone.provisioning_server_id ) : nil
  if prov_server
    CantinaPhone.set_resource( "http://#{prov_server.name}:#{prov_server.port}/" )
    #FIXME https once it is implemented
  end
%>  
  <tr>
    <td><%=
      prov_server ? prov_server.name : ''
    %><%=
      prov_server && prov_server.port ? ":#{prov_server.port}" : ''
    %><%=
      sip_phone.provisioning_server_id ? " (ID #{sip_phone.provisioning_server_id})" : '-'
    %></td>
    <td><%= sip_phone.phone_id || '-' %></td>
    <td><%=
      if prov_server
        begin
          CantinaPhone.find( sip_phone.phone_id ).mac_address
        rescue ActiveResource::ResourceNotFound => e
          "(not found!)"
        rescue Errno::ECONNREFUSED, Errno::EADDRNOTAVAIL, Errno::EHOSTDOWN, ActiveResource::TimeoutError => e
          "(Failed to connect to the provisioning server!)"
        end
      else
        '-'
      end
    %></td>
    <td><%= link_to 'Show', sip_phone %></td>
    <td><%= link_to 'Edit', edit_sip_phone_path(sip_phone) %></td>
    <td><%= button_to 'Destroy', sip_phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% } %>
</table>

<br />

<%= link_to 'New SIP phone', new_sip_phone_path %>
