<h1>Listing SIP phones</h1>

<table>
  <tr>
    <th>Node</th>
    <th>Phone ID on node</th>
    <th>MAC address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_phones.each { |sip_phone|
  node = sip_phone.node_id ? @nodes.find( sip_phone.node_id ) : nil
  if node
    #FIXME Remove CantinaPhone.
    CantinaPhone.set_resource( "http://#{node.management_host}:#{node.management_port}/" )
    # FIXME https once it is implemented
  end
%>  
  <tr>
    <td><%=
      node ? node.management_host : ''
    %><%=
      node && node.management_port ? ":#{node.management_port}" : ''
    %><%=
      sip_phone.node_id ? " (ID #{sip_phone.node_id})" : '-'
    %></td>
    <td><%= sip_phone.phone_id || '-' %></td>
    <td><%=
      if node
        begin
          #FIXME Remove CantinaPhone.
          CantinaPhone.find( sip_phone.phone_id ).mac_address
        rescue ActiveResource::ResourceNotFound => e
          "(not found!)"
        rescue Errno::ECONNREFUSED, Errno::EADDRNOTAVAIL, Errno::EHOSTDOWN, ActiveResource::TimeoutError => e
          "(Failed to connect to the node / provisioning server!)"
        end
      else
        '-'
      end
    %></td>
    <td><%= link_to 'Show', sip_phone %></td>
    <td><%= link_to 'Edit', edit_sip_phone_path(sip_phone) %></td>
    <td><%= button_to 'Destroy', sip_phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% } %>
</table>

<br />

<%= link_to 'New SIP phone', new_sip_phone_path %>
