
<p>
  <b>Node:</b>
<%
	node = @sip_phone.node_id ? @nodes.find( @sip_phone.node_id ) : nil
%><%=
	node ? node.management_host : ''
%><%=
	node && node.management_port ? ":#{node.management_port}" : ''
%><%=
	@sip_phone.node_id ? " (ID #{@sip_phone.node_id})" : "(none)"
%>
</p>

<p>
  <b>Phone ID on node:</b>
  <%= @sip_phone.phone_id || "(none)" %>
</p>


<%= link_to 'Edit', edit_sip_phone_path(@sip_phone) %> |
<%= link_to 'Back', sip_phones_path %>
