
<p>
  <b>Provisioning server:</b>
<%
	prov_server = @sip_phone.provisioning_server_id ? @prov_servers.find( @sip_phone.provisioning_server_id ) : nil
%><%=
	prov_server ? prov_server.name : ''
%><%=
	prov_server && prov_server.port ? ":#{prov_server.port}" : ''
%><%=
	@sip_phone.provisioning_server_id ? " (ID #{@sip_phone.provisioning_server_id})" : "(none)"
%>
</p>

<p>
  <b>Phone ID on prov. server:</b>
  <%= @sip_phone.phone_id || "(none)" %>
</p>


<%= link_to 'Edit', edit_sip_phone_path(@sip_phone) %> |
<%= link_to 'Back', sip_phones_path %>
