<p id="notice"><%= notice %></p>

<p>
  <b>Provisioning server ID:</b>
  <%= @sip_phone.provisioning_server_id %>
</p>

<p>
  <b>Prov. server phone ID:</b>
  <%= @sip_phone.phone_id %>
</p>


<%= link_to 'Edit', edit_sip_phone_path(@sip_phone) %> |
<%= link_to 'Back', sip_phones_path %>
