<% page_title t(:sign_in_title) %>
<h2><%= t(:sign_in_title) %></h2>

<%= form_for( resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>
	<p>
		<%= f.label :username, t(:username) %><br />
		<%= f.text_field :username, :autofocus => (resource && resource.respond_to?(:username) && resource.username.blank?) %>
	</p>
	
	<p>
		<%= f.label :password, t(:password) %><br />
		<%= f.password_field :password %>
	</p>
	
	<% if devise_mapping.rememberable? -%>
	<p>
		<%= f.check_box :remember_me %>
		<%= f.label :remember_me, t(:remember_me) %>
	</p>
	<% end -%>
	
	<p>
		<%= f.submit t(:sign_in_submit) %>
	</p>
<% end %>

<%= render :partial => "devise/shared/links" %>
