<h1><%= t(:listing_voicemails) %></h1>

<table>
  <tr>
	<th><%= t(:sip_account) %></th>
	<th><%= t(:folder) %></th>
	<th><%= t(:date_date) %></th>
	<th colspan="2"><%= t(:from).titleize %></th>
    <th><%= t(:duration) %></th>
	<th><%= t(:status) %></th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% if @voicemails %>
<% @voicemails.each do |voicemail_message| %>
  <tr>
    <td><%= voicemail_message['sip_account_display'] %></td>
	<td><%= voicemail_message['folder'] %></td>

	<td><%= l(Time.at(voicemail_message['created_epoch'].to_i).localtime, :format => :short)  %></td>
	<td><%= voicemail_message['cid_number'] %></td>
	<td><%= voicemail_message['cid_name'] %></td>
	<td><%= voicemail_message['duration'] %></td>
	<td><%= voicemail_message['read_epoch'].to_i > 0 ? t(:read) :  t(:unread) %></td>
	<td><%= File.exist?(voicemail_message['path']) ? \
			(link_to 'WAV', voicemail_path(voicemail_message['uuid'], :account => voicemail_message['username'], \
			 :format => 'wav')) : '' %>
	<td><%= link_to t(:show),  voicemail_path( :id => voicemail_message['uuid'], :account => voicemail_message['username']) %></td>
	<td><%= button_to t(:destroy), voicemail_path(voicemail_message['username'], voicemail_message['uuid']), :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>
