<h1><%= t(:listing_voicemails) %> (<%= @voicemails.try(:count) %>)</h1>

<table>
  <tr>
    <th><%= t(:sip_account) %></th>
    <th><%= t(:folder) %></th>
    <th><%= t(:date_date) %></th>
    <th colspan="2"><%= t(:from).titleize %></th>
    <th><%= t(:duration) %></th>
    <th><%= t(:status) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if ! @voicemails.empty? %>
<% @voicemails.each do |vm_msg| %>
  <tr>
    <td><%= vm_msg['username'] %></td>
    <td><%= vm_msg['folder'] %></td>
    <td><%= l( Time.at( vm_msg['created_epoch'].to_i ).localtime, :format => :short )
      #OPTIMIZE The date format is missing the year. The time format is missing the timezone.
    %></td>
    <td><%= vm_msg['cid_number'] %></td>
    <td><%= vm_msg['cid_name'] %></td>
    <td><%= vm_msg['duration'] %></td>
    <td><%= vm_msg['read_epoch'].to_i > 0 ? t(:read) : t(:unread) %></td>
    <td><%= File.exist?( vm_msg['path'] ) ? \
      (link_to 'Wav', voicemail_path( vm_msg['uuid'], :account => vm_msg['username'], \
      :format => 'wav' )) : ''
    %></td>
    <td><%= link_to t(:show)    ,                 voicemail_path( :id => vm_msg['uuid'], :account => vm_msg['username'] ) %></td>
    <td><%= link_to t(:destroy) , confirm_destroy_voicemail_path( :id => vm_msg['uuid'], :account => vm_msg['username'] ) if can?( :destroy, Voicemail ) %></td>
  </tr>
<% end %>
<% end %>
</table>
