<h1>Listing backups</h1>

<table>
  <tr>
    <th>State</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
  </tr>

<% @backups.each do |backup| %>
  <tr>
    <td><%= backup.state %></td>
    <td><%= backup.created_at %></td>
    <td><%= backup.created_at == backup.updated_at ? 'Not yet finished': backup.updated_at %></td>
    <td><%= link_to 'Show', backup %></td>
    <td><%= button_to( 'Destroy', backup, :method => 'delete') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Backup', new_backup_path %>
