<% page_title t('dp_route.view.index') %>
<h1><%= t('dp_route.view.index') %></h1>

<div class="noticebox">#TODO Die Wähl-Routen werden noch nicht ausgewertet!</div>

<p style="padding:0;margin:1em 0;font-size:0.95em;"><%= t('dp_route.explanations.p0') %></p>
<br />


<%= render :partial => 'table_of_routes' %>


<br />
<%= link_to t('dp_route.view.new'), new_dialplan_route_path if can?(:new, DialplanRoute) %>
&nbsp;|&nbsp; <%= link_to( t('dp_route.view.test'), test_dialplan_routes_path ) if can?(:index, DialplanRoute) %>


<br />
<br />
<br />
<hr />
<p style="padding:0;margin:1em 0;font-size:0.95em;"><%= t('dp_route.explanations.p1') %></p>
<p style="padding:0;margin:1em 0;font-size:0.95em;"><%= t('dp_route.explanations.p2') %></p>
