<% page_title t('dp_route.view.test') %>
<h1><%= t('dp_route.view.test') %></h1>


<%= simple_form_for( "test_call", :html => {:method => :post} ) do |f| %>
	
	<%= t('dp_route.test.form_head') %><br />
	<br />
	
	<%= f.input :sip_acct, {
		:label => t('dp_route.test.as_sip_acct'),
		:hint => false,
		:required => false,
	} do %>
		<%= f.select( :sip_acct_id,
			[
				[ "-- (#{t('dp_route.test.as_sip_acct_none')})", '' ],
			#	[ '--------------------------------------', '', :disabled => true ],
			] +
			@sip_accounts.collect {|r| [ r.to_display, r.id ] }.to_a,
			{ :include_blank => false, :selected => @test_call_sip_acct_id }
		) %>
	<% end %>
	
	<%= f.input :dest, {
		:as => :string,
		:label => t('dp_route.test.to_dest'),
		:hint => false,
		:required => true,
		:input_html => { :value => @test_call_dest.to_s },
	} %>
	
	<%= f.button :submit, t('dp_route.test.run') %>
<% end %>


<%= render :partial => 'table_of_routes' %>

<br />
<%= link_to t(:Go_to_list), dialplan_routes_path if can?(:index, DialplanRoute) %>

