

<p>
  <b>Username:</b>
  <%= @subscriber.username %>
</p>

<p>
  <b>Domain:</b>
  <%= @subscriber.domain %>
</p>

<p>
  <b>Password:</b>
  <%= @subscriber.password %>
</p>

<p>
  <b>Email address:</b>
  <%= @subscriber.email_address %>
</p>

<p>
  <b>Ha1:</b>
  <%= @subscriber.ha1 %>
</p>

<p>
  <b>Ha1b:</b>
  <%= @subscriber.ha1b %>
</p>

<p>
  <b>Rpid:</b>
  <%= @subscriber.rpid %>
</p>

<%= link_to 'Back', subscribers_path %>
