

<p>
  <b><%= t(:username) %>:</b>
  <%= @subscriber.username %>
</p>

<p>
  <b><%= t(:domain) %>:</b>
  <%= @subscriber.domain %>
</p>

<p>
  <b><%= t(:password) %>:</b>
  <%= @subscriber.password %>
</p>

<p>
  <b><%= t(:email_address) %>:</b>
  <%= @subscriber.email_address %>
</p>

<p>
  <b><%= t(:ha1) %>:</b>
  <%= @subscriber.ha1 %>
</p>

<p>
  <b><%= t(:ha1b) %>:</b>
  <%= @subscriber.ha1b %>
</p>

<p>
  <b><%= t(:rpid) %>:</b>
  <%= @subscriber.rpid %>
</p>

<%= link_to t(:back), subscribers_path %>
