<div class="infobox"><%= t(:sip_gateway_restart_info) %></div>

<%= simple_form_for( @sip_gateway ) do |f| %>
	<%= f.error_messages %>
	
	<%= f.input :host %>
	<%= f.input :port, :as => :hidden %>
	<%= f.input :realm, :as => :hidden %>
	<%= f.input :username, :as => :hidden %>
	<%= f.input :password, :as => :hidden %>
	<%= f.input :from_user, :as => :hidden %>
	<%= f.input :from_domain, :as => :hidden %>
	<%= f.input :register, :as => :hidden, :input_html => { :value => false } %>
	<%= f.input :reg_transport, :as => :hidden %>
	<%= f.input :expire, :as => :hidden %>
	
	<%= f.button :submit %>
<% end %>
