<div class="infobox"><%= t(:sip_gateway_restart_info) %></div>

<%= simple_form_for( @sip_gateway ) do |f| %>
	<%= f.error_messages %>
	
	<%= f.input :host %>
	<%= f.input :port %>
	<%= f.input :realm %>
	<%= f.input :username %>
	<%= f.input :password %>
	<%= f.input :from_user %>
	<%= f.input :from_domain %>
	<%= f.input :register %>
	<%= f.input :reg_transport, :as => :hidden %>
	<%= f.input :expire %>
	
	<%= f.button :submit %>
<% end %>
