
<div class="simple_form_show">

<% i18n_path = 'activerecord.attributes.sip_gateway.' %>

<p>
	<b><%= t( i18n_path + 'host' ) %>
		<!-- <![CDATA[ (+ <%= t( i18n_path + 'port' ) %>) ]]> -->:</b>
	<%= @sip_gateway.hostport %>
</p>

<!-- <![CDATA[
<p>
	<b><%= t( i18n_path + 'realm' ) %>:</b>
	<%= @sip_gateway.realm %>
</p>

<p>
	<b><%= t( i18n_path + 'username' ) %>:</b>
	<%= @sip_gateway.username %>
</p>

<p>
	<b><%= t( i18n_path + 'password' ) %>:</b>
	<%= @sip_gateway.password %>
</p>

<p>
	<b><%= t( i18n_path + 'from_user' ) %>:</b>
	<%= @sip_gateway.from_user %>
</p>

<p>
	<b><%= t( i18n_path + 'from_domain' ) %>:</b>
	<%= @sip_gateway.from_domain %>
</p>

<p>
	<b><%= t( i18n_path + 'register' ) %>:</b>
	<%= @sip_gateway.register ? t(:yes_lowercase) : t(:no_lowercase) %>
</p>

<p>
	<b><%= t( i18n_path + 'expire' ) %>:</b>
	<%= @sip_gateway.expire %>&nbsp;s
</p>
]]> -->

<p>
	<b><%= t( i18n_path + 'caller_id_patterns' ) %>:</b>
	<% if ! @sip_gateway.caller_id_patterns.blank? %>
		<% @sip_gateway.caller_id_patterns.split( /, */ ).each do |caller_id_pattern| %>
			<%= caller_id_pattern %><br>
		<% end %>
	<% end %>
</p>

</div>
