
<div class="simple_form_show">

<p>
  <b><%= t(:lastname) %>:</b>
  <%= @global_contact.lastname %>
</p>

<p>
  <b><%= t(:firstname) %>:</b>
  <%= @global_contact.firstname %>
</p>

<p>
  <b><%= t(:phone_private) %>:</b>
  <%= @global_contact.phone_private %>
</p>

<p>
  <b><%= t(:phone_business) %>:</b>
  <%= @global_contact.phone_business %>
</p>

<p>
  <b><%= t(:phone_mobile) %>:</b>
  <%= @global_contact.phone_mobile %>
</p>

<p>
  <b><%= t(:fax_private) %>:</b>
  <%= @global_contact.fax_private %>
</p>

<p>
  <b><%= t(:fax_business) %>:</b>
  <%= @global_contact.fax_business %>
</p>

</div>
