<% page_title t('mail_configuration') %>
<h1><%= t('mail_configuration') %></h1>

<%= simple_form_for( "email_configuration", :html => {:method => :post} ) do |f| %>
	
	<%= t('email_smarthost') %><br />
	<br />

    <%= f.input :fax_send_mail, {
		:as => :boolean,
		:label => t('fax_send_mail'),
		:hint => false,
		:autofocus => @fax_send_mail.to_s.blank?,
		:input_html => { :checked => @fax_send_mail },
	} %>

	<%= f.input :smarthost_hostname, {
		:as => :string,
		:label => t('smarthost.hostname'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_hostname.to_s.blank?,
		:input_html => { :value => @smarthost_hostname.to_s },
	} %>
	
	<%= f.input :smarthost_port, {
		:as => :integer,
		:label => t('smarthost.port'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_port.to_s.blank?,
		:input_html => { :value => @smarthost_port.to_s },
	} %>
	
	<%= f.input :smarthost_domain, {
		:as => :string,
		:label => t('smarthost.domain'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_domain.to_s.blank?,
		:input_html => { :value => @smarthost_domain.to_s },
	} %>
	
	<%= f.input :smarthost_username, {
		:as => :string,
		:label => t('smarthost.username'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_username.to_s.blank?,
		:input_html => { :value => @smarthost_username.to_s },
	} %>
	
	<%= f.input :smarthost_password, {
		:as => :password,
		:label => t('smarthost.password'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_password.to_s.blank?,
		:input_html => { :value => @smarthost_password.to_s },
	} %>
	
	<%= f.input :smarthost_from_address, {
		:as => :string,
		:label => t('smarthost.from_address'),
		:hint => false,
		:required => false,
		:autofocus => @smarthost_from_address.to_s.blank?,
		:input_html => { :value => @smarthost_from_address.to_s },
	} %>
	
	<br />
	<%= t('email_pop3') %><br />
	<br />
	
	<%= f.input :fax_pop3, {
		:as => :boolean,
		:label => t('fax_pop3'),
		:hint => false,
		:autofocus => @fax_pop3.to_s.blank?,
		:input_html => { :checked => @fax_pop3 },
	} %>
	
	<%= f.input :mailserver_hostname, {
		:as => :string,
		:label => t('mailserver.hostname'),
		:hint => false,
		:required => false,
		:autofocus => @mailserver_hostname.to_s.blank?,
		:input_html => { :value => @mailserver_hostname.to_s },
	} %>
	
	<%= f.input :mailserver_port, {
		:as => :integer,
		:label => t('mailserver.port'),
		:hint => false,
		:required => false,
		:autofocus => @mailserver_port.to_s.blank?,
		:input_html => { :value => @mailserver_port.to_s },
	} %>
	
	<%= f.input :mailserver_username, {
		:as => :string,
		:label => t('mailserver.username'),
		:hint => false,
		:required => false,
		:autofocus => @mailserver_username.to_s.blank?,
		:input_html => { :value => @mailserver_username.to_s },
	} %>
	
	<%= f.input :mailserver_password, {
		:as => :password,
		:label => t('mailserver.password'),
		:hint => false,
		:required => false,
		:autofocus => @mailserver_password.to_s.blank?,
		:input_html => { :value => @mailserver_password.to_s },
	} %>
	
	<%= f.button :submit, t( :save ) %>
<% end %>

<br />

