<% page_title t('mail_configuration') %>
<h1><%= t('mail_configuration') %></h1>

<%= simple_form_for( :email_configuration, :html => {:method => :post} ) do |f| %>
	<%= f.error_messages %>
	
	<%= t('email_smarthost') %><br />
	<br />

    <%= f.input :fax_send_mail, {
		:as => :boolean,
		:label => t('fax_send_mail'),
		:hint => false,
	} %>

	<%= f.input :smarthost_hostname, {
		:as => :string,
		:label => t('smarthost.hostname'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :smarthost_port, {
		:as => :integer,
		:label => t('smarthost.port'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :smarthost_domain, {
		:as => :string,
		:label => t('smarthost.domain'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :smarthost_username, {
		:as => :string,
		:label => t('smarthost.username'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :smarthost_password, {
		:as => :password,
		:label => t('smarthost.password'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :smarthost_from_address, {
		:as => :string,
		:label => t('smarthost.from_address'),
		:hint => false,
		:required => false,
	} %>
	
	<br />
	<%= t('email_pop3') %><br />
	<br />
	
	<%= f.input :fax_pop3, {
		:as => :boolean,
		:label => t('fax_pop3'),
		:hint => false,
	} %>
	
	<%= f.input :mailserver_hostname, {
		:as => :string,
		:label => t('mailserver.hostname'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :mailserver_port, {
		:as => :integer,
		:label => t('mailserver.port'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :mailserver_username, {
		:as => :string,
		:label => t('mailserver.username'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.input :mailserver_password, {
		:as => :password,
		:label => t('mailserver.password'),
		:hint => false,
		:required => false,
	} %>
	
	<%= f.button :submit, t( :save ) %>
<% end %>

<br />

