<% page_title t(:mail_configuration) %>
<h1><%= t(:mail_configuration) %></h1>

<div class="simple_form_show">

<%= t('email_smarthost') %><br />
<br />

<p>
  <b><%= t('smarthost.hostname') %>:</b>
  <%= @smarthost_hostname %>
</p>

<p>
  <b><%= t('smarthost.port') %>:</b>
  <%= @smarthost_port %>
</p>

<p>
  <b><%= t('smarthost.domain') %>:</b>
  <%= @smarthost_domain %>
</p>

<p>
  <b><%= t('smarthost.username') %>:</b>
  <%= @smarthost_username %>
</p>

<br />
<%= t('email_pop3') %><br />
<br />

<p>
  <b><%= t('mailserver.hostname') %>:</b>
  <%= @mailserver_hostname %>
</p>

<p>
  <b><%= t('mailserver.port') %>:</b>
  <%= @mailserver_port %>
</p>

<p>
  <b><%= t('mailserver.username') %>:</b>
  <%= @mailserver_username %>
</p>

</div>

<%= link_to t(:edit), admin_mail_configuration_path %>