<% page_title "#{t(:editing_user)}: #{@user.username}" %>
<h1><%= t(:editing_user) %>: <%= @user.username %></h1>

<%= simple_form_for( @user, :url => { :action => "update" }, :html => { :method => "put" }) do |f| %>
	<%= f.error_messages %>
	
	<%= f.input :username %>
	<%= f.input :password              , :as => :password %>
	<%= f.input :password_confirmation , :as => :password %>
	<%= f.input :sn %>
	<%= f.input :gn %>
	<%= f.input :email, :as => :email %>
	
	<%= f.input :role, :as => :hidden, :input_html => { :value => @user.role } %>
	<%= f.input :role do %>
		<%= f.select :role, User::ROLES.map { |k,v| [ v.to_s.sub(/^(\w)/) {|s| s.capitalize}, k ] },
			{ :selected => @user.role },
			{ :disabled => true, :id => nil, :name => '' }
		%>
	<% end %>
	
	<%= f.button :submit %>
<% end %>

<%= link_to t(:Go_to_list), admin_users_path %>
