
<h1><%= t(:new_user) %></h1>

<%= simple_form_for( @user, :url => { :action => "create" }) do |f| %>
	<%= f.error_messages %>
	
	<%= f.input :username %>
	<%= f.input :password              , :as => :password %>
	<%= f.input :password_confirmation , :as => :password %>
	<%= f.input :sn %>
	<%= f.input :gn %>
	<%= f.input :email, :as => :email %>
	
	<%= f.input :role do %>
		<%= f.select :role, User::ROLES.map { |k,v| [ v.to_s.sub(/^(\w)/) {|s| s.capitalize}, k ] } %>
	<% end %>
	
	<%= f.button :submit %>
<% end %>

<%= link_to t(:back), admin_users_path %>
