
<h1><%= t(:new_user) %></h1>

<%= form_for :user,  :url => { :action => "create" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:errors_model_not_saved ,:errors_count => pluralize(@user.errors.count, "error"), :model_name => t(:user)) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :username, t(:username) %><br />
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :password, t(:password) %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, t(:password_confirmation) %><br />
  <%= f.password_field :password_confirmation %>
</div>
<div class="field">
  <%= f.label :gn, t(:given_name) %><br />
  <%= f.text_field :gn %>
</div>
<div class="field">
  <%= f.label :sn, t(:surname) %><br />
  <%= f.text_field :sn %>
</div>
<div class="field">
  <%= f.label :email, t(:email_address) %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :role, t(:role) %><br />
  <%= f.select :role, User::ROLES.map { |k,v| [ v.to_s.sub(/^(\w)/) {|s| s.capitalize}, k ] } %>
</div>

<div class="actions">
  <%= f.submit(t(:save)) %>
</div>

<%= link_to t(:back), admin_users_path %>

<% end %>