<h1><%= t(:listing_personal_contacts) %></h1>

<table>
  <tr>
<% if current_user.role == "admin" %>
    <th><%= t(:user) %></th>
<% end %>
    <th><%= t(:lastname) %></th>
    <th><%= t(:firstname) %></th>
    <th><%= t(:phone_private) %></th>
    <th><%= t(:phone_business) %></th>
    <th><%= t(:phone_mobile) %></th>
    <th><%= t(:fax_private) %></th>
    <th><%= t(:fax_business) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personal_contacts.each do |personal_contact| %>
  <tr>
<% if current_user.role == "admin" %>
    <td><%
      if personal_contact.user
        %><%= personal_contact.user.username %><%
      end
    %></td>
<% end %>
    <td><%= personal_contact.lastname %></td>
    <td><%= personal_contact.firstname %></td>
    <td><%= personal_contact.phone_private %></td>
    <td><%= personal_contact.phone_business %></td>
    <td><%= personal_contact.phone_mobile %></td>
    <td><%= personal_contact.fax_private %></td>
    <td><%= personal_contact.fax_business %></td>
    <td><%= link_to t(:show), personal_contact %></td>
    <td><%= link_to t(:edit), edit_personal_contact_path(personal_contact) %></td>
    <td><%= button_to t(:destroy), personal_contact, :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_personal_contact), new_personal_contact_path %>
