

<p>
  <b><%= t(:name) %>:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b><%= t(:url) %>:</b>
  <%= link_to @manufacturer.url %>
</p>

<%= link_to t(:edit), edit_manufacturer_path(@manufacturer) %>

<h2><%= t(:listing_phone_models) %></h2>
<p>
<%= link_to t(:new_phone_model), new_manufacturer_phone_model_path(@manufacturer) %>	
</p>

<% if @manufacturer.phone_models.count > 0 %>
<%= render :partial => '/phone_models/table_of_phone_models', :locals => {:phone_models => @manufacturer.phone_models} %>
<% end %>