<span class="tty"><%= t(:navigation) %>:</span>
<nav class="hnav">
	<ul>
		<%
		top_menu_items.each { |navigation_item|
			mark_as_current_page = false
			if navigation_item[:url] && current_page?( navigation_item[:url] )
				mark_as_current_page = true
			else
				if navigation_item[:sub]
					navigation_item[:sub].each { |sub_navigation_item|
						if sub_navigation_item[:url] && current_page?( sub_navigation_item[:url] )
							mark_as_current_page = true
							break
						end
					}
				end
			end
		%>
		<li><% if navigation_item[:url] %>
				<%= link_to(
					navigation_item[:text], navigation_item[:url],
					(mark_as_current_page ? { :class => 'current_page_navigation' } : {})
				) %>
			<% else %>
				<%# Must NOT have an href attribute, NOT an empty href attribute! %>
				<a<%= raw(' class="current_page_navigation"') if mark_as_current_page
				%>><%= navigation_item[:text] %></a>
			<% end %>
			<% if navigation_item[:sub] %>
				<ul>
					<% navigation_item[:sub].each { |sub_navigation_item| %>
						<li><%
							if sub_navigation_item[:text] && sub_navigation_item[:url]
								%><%=
									link_to(
										sub_navigation_item[:text], sub_navigation_item[:url],
										(current_page?( sub_navigation_item[:url] ) ? { :class => 'current_page_navigation' } : {})
									)
								%><%
							else
								%><hr style="width:auto; margin: 4px 1px; border-size: 1px 0; border-style: solid none; border-color: #999 #eee #eee #999;" /><%
							end
						%></li>
					<% } %>
				</ul>
			<% end %>
		</li>
		<% } %>
	</ul>
</nav>
