<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= yield (:page_title) || "Amooma Gemeinschaft4" %></title>
	<link rel="icon shortcut" type="image/x-icon" sizes="16x16" href="/favicon.ico" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
	<meta name="viewport" content="width=850, initial-scale=1.0" />
	<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'print.css', :media => 'print' %>
	<!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
	<%= csrf_meta_tag %>
</head>
<body>
	<header>
		<a class="tty" href="#content">Skip navigation</a>
		<div id="header">
			<div id="application">
				<a href="/">Gemeinschaft 4</a>
			</div>

			<div id="user_nav">
				<% if user_signed_in? %>
				Signed in as <q><b><%= current_user.username %></b></q>
				(role: <%= User::ROLES[ current_user.role ] %>) &nbsp;
				<%= link_to "Sign out", destroy_user_session_path %>
				<% else %>
				<%= link_to "Sign in", new_user_session_path %>
				<% end %>
			</div>

			<div class="clear"></div>
		</div>
		<hr class="tty" width="100%" />

		<%= render :partial => 'layouts/top_navigation' %>
	</header>
	<hr class="tty" width="100%" />

	<div id="content">
		<div class="app_notice">
			<%= notice %>
		</div>
		<div class="app_alert">
			<%= alert %>
		</div>

		<%= yield %>
	</div>
</body>
</html>
