<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= (yield(:page_title)) || t(:application_name) %></title>
	<link rel="icon shortcut" type="image/x-icon" sizes="16x16" href="/favicon.ico" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
	<meta name="viewport" content="width=850, initial-scale=1.0" />
	<%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'print.css', :media => 'print' %>
	<!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
	<%= csrf_meta_tag %>
</head>
<body>
	<header>
		<a class="tty" href="#content"><%= t(:skip_navigation) %></a>
		<div id="header">
			<div id="application">
				<a href="/"><%= t(:application_name) %></a>
			</div>

			<div id="user_nav">
				<% if user_signed_in? %>
				<%= t(:signed_in_as) %> <q><b><%= current_user.username %></b></q>
				(<%= t(:role) %>: <%= User::ROLES[ current_user.role ] %>) &nbsp;
				<%= link_to t(:sign_out), destroy_user_session_path %>
				<% else %>
				<%= link_to t(:sign_in), new_user_session_path %>
				<% end %>
			</div>

			<div class="clear"></div>
		</div>
		<hr class="tty" width="100%" />

		<%= render :partial => 'layouts/top_navigation' %>
	</header>
	<hr class="tty" width="100%" />

	<div id="content">
		<div class="app_notice">
			<%= notice %>
		</div>
		<div class="app_alert">
			<%= alert %>
		</div>

		<%= yield %>
	</div>
</body>
</html>
