<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Amooma Gemeinschaft4</title>
	<link rel="icon shortcut" type="image/x-icon" sizes="16x16" href="/favicon.ico" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
<%= stylesheet_link_tag :all %>
<%= csrf_meta_tag %>
</head>
<body>

<% if params[:controller] != 'admin/setup' && @app_number_of_users == 0
%>
	<div class="noticebox">
		No users configured.<br />
		You may want to go to the <%=
			link_to( "setup",
				url_for( :controller => '/admin/setup' )
			)
		%> and create an admin user.
	</div>
<% end
%>

<div id="user_nav">
<%- if user_signed_in? -%>
	Signed in as <q><%= current_user.username %></q>.
	<%= link_to "Sign out", destroy_user_session_path %>
<%- else -%>
	<%= link_to "Sign in", new_user_session_path %>
<%- end -%>
</div>

<div id="header">
	<a href="/">Gemeinschaft4</a>
</div>

<div class="app_notice">
	<%= notice %>
</div>
<div class="app_alert">
	<%= alert %>
</div>

<%= yield %>

</body>
</html>
